.city-selection-block#citySelect
    ul.cs-list
        li.cs-item#otherRegion
            a.cs-link(href="#") Другой регион
        li.cs-item#mscRegion
            a.cs-link(href="#") Москва и Мос. обл.