.search-results-block#searchResults
    ul.sr-list
        li.sr-item
            a.sr-link(href="#") Школа бокса
        li.sr-item
            a.sr-link(href="#") Школа спортивной гимнастики
        li.sr-item
            a.sr-link(href="#") Начальная школа Стриж
        li.sr-item
            a.sr-link(href="#") Школа художественной гимнастики
        li.sr-item
            a.sr-link(href="#") Школа немецкого языка
        li.sr-item
            a.sr-link(href="#") Большая школа большого тенниса имени Юрий Гагарина
        li.sr-item
            a.sr-link(href="#") Первая школа детской психологии
        li.sr-item
            a.sr-link(href="#") Маленькая уютная школа для девочек