@font-face {
  font-family: 'c-bold';
  src: url('./fonts/Circe-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'c-reg';
  src: url('./fonts/Circe-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'c-light';
  src: url('./fonts/Circe-Light.ttf');
  font-weight: normal;
  font-style: normal;
}