@import './dependencies';

/*UI COMPONENTS*/

$reg: 'c-reg', sans-serif;
$light: 'c-light', sans-serif;
$bold: 'c-bold', sans-serif;

$blue: #4378c6;
$red: #ff3200;
$yellow: #ffcb00;

/*
$grey-border: #ccccdd;
*/
$grey-border: #efeff7;
$grey-text: #a4a4af;
$light-grey: #efeff7;

$plate-shadow: 0px 2px 4px 0px rgba(141,141,156,.4);
$input-shadow: 0px 2px 4px 0px rgba(141,141,156,0.11);

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ab-img {
  display: block;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.just-ab {
  display: block;
  position: absolute;
}

$radius: 6px;

.blue-btn {
  display: inline-block; cursor: pointer;
  border-radius: $radius;
  height: 39px; padding: 0 29px;
  line-height: 40px;
  background: $blue; color: #fff;
  font-size: 17px; text-align: center;
  &:hover {background: lighten($blue, 5%);}
  transition: all .3s linear;
}

.grey-btn {
  display: inline-block; cursor: pointer;
  border-radius: $radius;
  height: 39px; padding: 0 29px;
  line-height: 40px;
  background: #fff; color: $grey-text;
  border: 1px solid $grey-border; transition: all .3s linear;
  font-size: 17px; text-align: center;
  &:hover {background: $grey-border; color: #fff}
}


.blue-arrow-btn {
  color: $blue;
  font-family: $bold;
  font-size: 17px;
  display: inline-block;
  position: relative;padding-right: 27px;
  &:before {
    content: ''; position: absolute;
    width: 15px; height: 10px; top: 5px; right: 0;
    background: url("../img/icons/blue-arrow.svg") center no-repeat;
    transition: all .3s linear;
  }
  &:hover {
    &:before {right: -3px}
  }
}

.red-btn {
  cursor: pointer;
  display: inline-block;
  background: $red; border-radius: $radius;
  height: 51px; line-height: 52px;
  color: #fff; cursor: pointer; font-family: $reg;
  transition: all .3s linear;
  font-size: 17px; text-align: center;
  &:hover {background: lighten($red, 5%)}
  &.big-btn {font-family: $bold}
}
.big-btn {height: 51px; line-height: 52px;}

.blue-link {
  color: $blue;
  &:hover {text-decoration: underline;}
}

.label {
  display: inline-block;
  border-radius: $radius;
  font-size: 14px; height: 24px; line-height: 25px;
  padding: 0 10px;
  &.c-type {background: $yellow}
  &.best {background: $red; color: #fff; margin-left: 10px;}
  &.free {background: $blue; color: #fff; margin-left: 10px;}
  &.raiting {
    width: 42px; text-align: center;
    font-family: $bold;
    &.good {color: $blue; border: 1px solid $blue}
    &.bad {color: $grey-text; border: 1px solid $grey-border}
  }
}
.banner-title {
  font-family: $reg;
  font-size: 50px;
  margin: 0 0 8px -4px;
}
.common-text {font-size: 17px; line-height: 24px;}

.locked {overflow: hidden}

/*END OF UI COMPONENTS*/

html, body {width: 100%; height: 100%;}
body {
  position: relative;
  min-width: 1240px;
  font-family: $reg;
  overflow-x: hidden;
}
.block {
  position: relative;
  width: 100%;
  min-width: 1240px;
}

main {
  height: 100%;
  /*
  background: url("../img/misc/steps_cat.svg") left 800px no-repeat, url("../img/misc/steps_baby.svg") right 1200px no-repeat;
  background-size: 400px, 376px;

  &.lpaws {
    background: url("../img/misc/steps_cat.svg") left 400px no-repeat, url("../img/misc/steps_baby.svg") right 800px no-repeat;
    background-size: 400px, 376px;
  }
  */
}

.content {
  width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  position: relative;
}

h1, h2, h3, h4 {font-weight: normal;}

.page-header {
  height: 90px;
  background: #fff;
  font-size: 17px; position: fixed;
  top: 0; left: 0; z-index: 5000; transition: all linear .3s;
  &.shrinked {transform: translateY(-90px);}
  &.hidden {opacity: 0; visibility: hidden;}
}
.main-menu-block {
  background: $blue;
  transition: all .3s linear;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: .5px;
  &.upper {top: 0;}
  &.zless {z-index: 5500 !important;}
  //
  &.hidden {opacity: 0; visibility: hidden}
  .content {height: 50px; padding-top: 18px}
  position: fixed; top: 90px; left: 0; z-index: 4500;
}
.main-menu__item {
  display: inline-block; margin-left: 25px;
  &:first-of-type {margin-left: 0;}
}
.main-menu__item {
  &.choice {
    float: right;
    position: relative;
    .main-menu__link:before {
      content: '';
      width: 14px; height: 14px;
      background: url("../img/icons/star.svg") center no-repeat;
      position: absolute;
      top: 0; left: -24px;
    }
  }
}
.main-menu__link {
  display: inline-block;
  &.active {opacity: .5;}
  &:hover {opacity: .5}
}
.header-logo, .region-selection, .header-search-block {
  display: inline-block;
  vertical-align: middle;
}
.header-logo {
  width: 191px;
  margin: 16px 0 0 -10px;
}
.r-def-phrase, .yes-no-and-reg, .yes, .no {display: inline-block; vertical-align: middle;}
.region-selection {margin: 26px 0 0 82px; position: relative; min-width: 400px;}
.yes-no-and-reg {margin-left: 24px;}
.yesno.hidden {display: none;}
.yes, .no {cursor: pointer;}
.no {margin-left: 23px; color: $grey-text;}
.yes {
  color: $blue;
  position: relative;
  &:hover {opacity: .7;}
  &:before {
    content: '';
    position: absolute; width: 100%;
    height: 1px; background: $blue;
    bottom: -1px; left: 0;
  }
}
.city-defined, .sort-blue {
  display: none;
  &.visible {display: block;}
  color: $blue;
  text-decoration: underline;
  position: absolute;
  left: 108px; top: 0; width: auto;
  transition: all .3s linear;
  cursor: pointer;
  &:hover {opacity: .7;}
  &:before {
    content: '';
    width: 11px; height: 6px;
    transition: all .3s linear;
    position: absolute; right: -18px; top: 6px;
    background: url("../img/icons/blue_arrow.svg") center no-repeat;
  }
  &.opened:before {transform: rotate(180deg)}
}

input::placeholder {color: $grey-text;}
textarea::placeholder {color: $grey-text;}
button {font-family: $bold;}
.common-input {
  font-family: $reg;
  height: 51px;
  display: inline-block;
  border: 1px solid $grey-border;
  border-radius: $radius !important;
  padding-left: 17px;
  -webkit-appearance: none !important;
}
.header-search-block {
  position: absolute; right: 20px; top: 25px;
  &:before {
    width: 39px; height: 39px;
    background: $red; border-radius: $radius;
    position: absolute; top: 0; right: 0;
    content: ''; z-index: 100;
  }
  &:after {
    content: ''; position: absolute;
    width: 19px; height: 19px; top: 10px; right: 10px;
    z-index: 105;
    background: url("../img/icons/search.svg") center no-repeat;
  }
  .common-input {
    width: 320px; height: 39px;
    padding-right: 56px;
  }
}
.index-banner-block {
  border-bottom: 1px solid #bbbbc3;
  height: 648px; background: #aacbeb;
  .content {padding-top: 220px; height: 100%;}
}
.p-scene {
  width: 100%; height: 360px;
  position: absolute; bottom: 110px; left: 0;
  z-index: 30; text-align: center;
  .snowflakes {
    display: inline-block !important;
    width: 878px;
  }
  .snowflakes2 {
    display: inline-block !important;
    width: 1438px;
  }
}

@keyframes hand {
  from {transform: translate(0) rotate(0deg)}
  50% {transform: translateY(10px) rotate(-25deg)}
  to {transform: translate(0) rotate(0deg)}
}
@keyframes eyes {
  from {right: 253px; bottom: 135px}
  50% {right: 260px; bottom: 135px}
  to {right: 253px; bottom: 135px}
}

.index-bg {width: 1870px; bottom: 0; right: -519px;}
.index-guys {width: 646px; right: -260px; bottom: 30px; z-index: 20}
.index-tail {width: 38px; bottom: 20px; right: 337px; z-index: 25;}
.index-eyes {
  width: 95px; bottom: 135px; right: 253px; z-index: 25;
  animation: eyes 4s infinite;
}
.index-hand {
  width: 97px; bottom: 160px; right: 95px; z-index: 10;
  animation: hand 6s infinite;
}


.small-banner-info {
  font-size: 14px; line-height: 20px;
  position: absolute; top: auto; bottom: 80px; left: 20px;
  width: 100%;
  p {display: inline-block; vertical-align: bottom}
  p.wm {margin-left: 85px;}
}
.lines-block {
  margin-top: 105px;
  &.lm {margin-top: 65px;}
}
.block-title {
  font-size: 35px;
  margin-left: -2px;
  font-family: $bold;
  margin-bottom: 40px;
  &.wu {margin-bottom: 20px;}
}
.undertitle {font-size: 22px; line-height: 26px; &.mt {margin-top: 15px;}}
.see-more-btn {position: absolute; top: 0; right: 20px;}
.one-plate {
  display: inline-block;
  border-radius: $radius;
  position: relative;
  float: left;
  overflow: hidden;
  box-shadow: $plate-shadow;
  &.choice-plate {height: 218px;}
  &.short-plate {width: calc(50% - 16px);}
  &.big {height: 450px;}
  &.biggest {height: 524px;}
  &.average {height: 293px;}
  &.tripple {width: 378px; height: 341px;}
  &.long-plate {width: 100%; margin-top: 32px;}
  &.short-plate:nth-of-type(2) {margin-left: 32px;}
  &:hover {.p-dark {opacity: .4;}}
}
.p-dark {
  width: 100%; height: 100%;
  background: #09111c; position: absolute;
  top: 0; left: 0; z-index: 100; transition: all .3s linear;
  opacity: 0;
}

.ks-three {
  margin-bottom: 32px;
  .one-plate {margin-left: 32px !important;}
  .one-plate:first-of-type {margin-left: 0 !important;}
}

.ksg-col {
  vertical-align: top;
  display: inline-block; height: auto; width: calc(50% - 16px);
  float: left; &:nth-of-type(2) {margin-left: 32px}
  .one-plate {display: block; float: none; width: 100%; margin-bottom: 32px}
}
.kp-selection-grid {
  position: relative;
  .one-plate.long-plate {margin-top: 0; margin-bottom: 32px;}
  .one-plate.short-plate {
    &:first-of-type {margin-left: 0}
    &:nth-of-type(2) {margin-left: 0}
  }
}

.choice-info {position: absolute; z-index: 100; left: 35px; bottom: 20px; color: #fff}
.choice-num {
  font-size: 72px;
  font-family: $bold;
  display: inline-block; vertical-align: bottom;
  &.huge-num {font-size: 233px; line-height: 177px; margin-right: -10px}
}
.choice-num, .next-to-num {display: inline-block; vertical-align: bottom;}
.next-to-num {margin: 0 0 15px 15px;}
.choice-numword, .choice-desc {display: block}
.choice-numword {font-size: 35px; font-family: $bold;}
.choice-desc {font-size: 22px;}

.lines-block .content {
  .one-plate.common-plate:first-of-type {margin-left: 0 !important;}
}

.next-to-num.alone {
  margin-left: 0;
  .choice-numword {line-height: 32px; margin-bottom: 12px;}
}

.common-plate {
  height: 383px; width: 378px;
  box-shadow: $plate-shadow;
  margin-left: 32px;
  display: inline-block;
  &.event-plate {height: 411px;}
  .com-pic-area {
    overflow: hidden; position: relative;
    height: 200px;
    .labels {
      position: absolute; z-index: 200;
      left: 20px; top: 20px;
    }
  }
  .com-info-area {padding: 18px; position: relative; background: #fff;}
  .raiting {position: absolute; right: 18px; top: 18px;}
  .com-title {
    width: 285px;
    @include ellipsis;
    margin-bottom: 15px;
  }
}
.smaller-title {font-size: 22px; font-family: $bold;}
.com-chars {
  li {
    @include ellipsis;
    padding-left: 26px;
    margin-bottom: 14px;
    font-size: 14px;
    &:last-of-type {margin-bottom: 0;}
    position: relative;
    &:before {
      content: '';
      width: 15px; height: 15px;
      position: absolute; left: 0; top: 0;
    }
  }
  .age:before {background: url("../img/icons/age.svg") center no-repeat;}
  .date:before {background: url("../img/icons/calendar.svg") center no-repeat;}
  .price:before {background: url("../img/icons/cost.svg") center no-repeat}
  .location:before {background: url("../img/icons/place.svg") center no-repeat}
  .time:before {background: url("../img/icons/time.svg") center no-repeat}
  .phone:before {background: url("../img/icons/phone.svg") center no-repeat}
  .site:before {background: url("../img/icons/site.svg") center no-repeat}
}
.form-block {
  text-align: center;
  .content {padding: 95px 20px 0 20px;}
  .form-col {
    display: inline-block; vertical-align: top;
    width: 310px;
    &:nth-of-type(2) {margin-left: 16px;}
    .common-input {
      width: 100%; height: 51px;
      font-size: 17px;
      margin-bottom: 18px;
      &.error-input {border-color: $red;}
    }
    .red-btn {width: 100%;}
  }
}
.userag-line {
  font-size: 14px;
  line-height: 20px;
  margin-top: 20px;
  color: $grey-text;
}
.error-input::placeholder {color: $red;}

.page-footer {background: #fff; padding-top: 85px; padding-bottom: 75px;}

.footer-logo {
  width: 90px;
  display: inline-block;
  vertical-align: bottom;
}
.footer-col {
  display: inline-block; vertical-align: bottom;
  font-size: 14px;
  margin-left: 82px;
  a:hover {text-decoration: underline}
  li {margin-bottom: 15px; &:last-of-type{margin-bottom: 0;}}
  &:first-of-type {margin-left: 100px;}
}
.sn {
  margin-left: 160px;
  li {display: inline-block; margin-bottom: 0; vertical-align: bottom; margin-left: 25px;}
  li:first-of-type {margin-left: 0;}
  a {
    display: inline-block;
    width: 22px; height: 22px;
    &:hover {opacity: .6;}
  }
  .fb {background: url("../img/icons/fb.svg") center no-repeat;}
  .vk {background: url("../img/icons/vk.svg") center no-repeat; width: 27px;}
  .ok {background: url("../img/icons/ok.svg") center no-repeat;}
  .tw {background: url("../img/icons/tw.svg") center no-repeat;}
}
.copyright {
  display: inline-block; vertical-align: bottom;
  font-size: 14px; float: right; margin-top: 78px;
}

.seo-block {
  background: $blue;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  .content {padding: 70px 20px 80px 20px;}
  .seo-col {
    display: inline-block;
    vertical-align: top;
    width: 340px;
    margin-left: 80px;
    &:first-of-type {margin-left: 0;}
  }
}
.search-results-block {
  width: 320px;
  max-height: 200px;
  overflow: hidden;
  border-radius: $radius;
  box-shadow: $plate-shadow;
  position: absolute; z-index: 6000;
  top: 44px; left: 0;
  background: #fff;
  border: 1px solid $grey-border;
  padding: 7px 0 0 0;
  display: none;
}
.sr-list, .cs-list {margin-bottom: 7px;}
.sr-link, .cs-link {
  display: block;
  padding: 12px 17px;
  font-size: 14px;
  &:hover {background: #f0f0f8;}
  @include ellipsis;
}
.city-selection-block {
  @extend .search-results-block;
  width: 200px; left: 91px; top: 26px;
  &.sort {left: 114px;}
}
.mCSB_inside>.mCSB_container {margin-right: 0;}
.mCSB_scrollTools {opacity: 1;}
.mCSB_scrollTools .mCSB_draggerRail {background: #e1e1e1 !important; height: calc(100% - 7px);}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {background: #a4a4af !important; width: 2px;}

.popup-wrapper {
  width: 100%; height: 100%;
  position: fixed; top: 0; left: 0;
  z-index: 9000;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}
.popup {
  text-align: center;
  border-radius: $radius;
  background: #fff;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  padding: 60px;
}
.comclose-popup {
  .blue-btn {width: 250px;}
}
.cat-pop-ill {
  display: block;
  width: 113px;
  &.search {width: 157px;}
  margin: 0 auto 30px auto;
}
.ponyatno {width: 254px;}
.popup-title {margin-bottom: 10px;}
.popup-text {margin-bottom: 30px;}
.close-popup {
  width: 20px; height: 20px;
  background: url("../img/icons/close-popup.svg") center no-repeat;
  cursor: pointer; position: absolute; top: 24px; right: 24px;
}
.filter-input {
  height: 51px;
  border-radius: $radius;
  font-family: $reg; font-size: 17px;
  box-shadow: $input-shadow; padding: 0 15px;
  position: relative;
  &.when {width: 222px;}
  &:before {
    content: '';
    position: absolute; right: 0; top: 0;
    width: 15px; height: 15px;
    background: url("../img/icons/arrow-down.svg") center no-repeat;
  }
}
.fi-wrap {
  display: inline-block;
  position: relative;
  &:before {
    content: '';
    z-index: 300;
    position: absolute; right: 15px; top: 22px;
    width: 12px; height: 7px;
    background: url("../img/icons/arrow-down.svg") center no-repeat;
  }
}
.datepicker--day-name {color: $blue;}
.datepicker {
  font-family: $reg;
  box-shadow: $input-shadow;
  left: 0; z-index: 3000;
  border-radius: $radius;
  border: $grey-border;
  width: 230px;
  font-size: 14px; visibility: hidden;
  transform: translateY(-3px);
  &.active {visibility: visible; transform: translateY(-6pxgulp )}
}
.datepicker--cell.-selected- {
  background: $blue;
  transition: all .3s linear;
  &:hover {background: lighten($blue, 5%)}
}
.datepicker--cell.-in-range- {background: #dee4ed;}
.datepicker--pointer {display: none;}
.datepicker--cell.-current- {
  color: $blue;
  font-family: $bold;
}
.datepicker--cell.-selected-.-current- {background: $blue; color: #fff;}

.select2-container--default .select2-selection--single {
  height: 51px;
  width: 100%;
  border: none;
  font-family: $reg;
  font-size: 17px;
  border-radius: $radius !important;
  box-shadow: $input-shadow;
  transform: translateY(-1px);
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  padding: 0 40px 0 17px; line-height: 52px;
}
.select2-selection__arrow b {display: none !important;}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  background: transparent;
  height: 100%;
  transform: translateX(-8px);
  background: url("../img/icons/arrow-down.svg") center no-repeat;
  background-size: 11px;
}
.select2-container {width: 100% !important;}
.s-wrap {
  display: inline-block;
  margin-left: 8px;
  &.where {width: 197px;}
  &.what {width: 195px;}
  &.age {width: 135px;}
}

.select2-container--default .select2-results__group {
  background: #eef1f6;
  font-weight: normal;
  text-transform: uppercase;
  font-family: $reg;
  color: #a4a4af;
  font-size: 10px; letter-spacing: .5px;
  padding: 15px 17px 7px 17px;
}
.select2-results__option {
  padding: 10px 17px;
  @include ellipsis;
}
.select2-container--default .select2-results__option[aria-selected=true] {background: #dee4ed;}
.select2-container--default .select2-results__option--highlighted[aria-selected] {background-color: $blue}
.select2-dropdown {
  margin-top: 4px;
  border: none;
  overflow: hidden;
  border-radius: $radius;
  .mCSB_scrollTools {top: 7px !important;}
}
.select2-container--open .select2-dropdown--below {
  border-radius: $radius !important;
  box-shadow: $plate-shadow;
}
.gosearch {margin-left: 8px; width: 180px; font-family: $bold; position: relative; z-index: 200}
.index-filters-block {margin-top: 45px;}

@keyframes preload {
  from {width: 0}
  to {width: 100%}
}
@keyframes c-preload {
  from {left: 0}
  to {left: 95%}
}

.preloader {
  background: #fff;
  width: 100%; height: 100%; position: fixed;
  top: 0; left: 0; z-index: 10000;
  .bim {
    width: 100%;
    height: 3px;
    background: $yellow;
    position: absolute;
    top: 50%; left: 0;
    animation: preload 1s forwards;
  }
  .preload-cat {
    display: block;
    width: 50px;
    position: absolute;
    left: 0; top: calc(50% - 50px);
    animation: c-preload 1s forwards;
  }
}
.upper-block {
  padding-top: 140px;
  .content {padding-top: 41px;}
}
.undertitle {margin-bottom: 35px; &.lm {margin-bottom: 15px;}}
.showmore-ksc {width: 100%;}
.ks-cat, .ks-cat-paw {display: block; z-index: 200; position: absolute;}
.ks-cat {
  width: 160px;
  right: 20px; top: -89px;
}
.ks-cat-paw {
  width: 25px;
  right: -10px; top: 30px;
}
.send-mail-block {
  background: $yellow;
  margin-top: 100px;
  .content {height: 500px; padding-top: 100px;}
  .small-banner-info {
    position: static;
    margin-top: 70px;
  }
}
.blue-dashed-link {
  color: $blue;
  font-family: $bold;
  display: inline-block;
  position: relative;
  &:before {
    content: ''; position: absolute; bottom: -1px; left: 0;
    width: 100%; height: 1px; background: transparent;
    border-bottom: 1px dashed $blue;
  }
}
.sm-form {
  font-size: 17px;
  margin-top: 50px;
  .common-input {width: 265px; border: none;}
  .red-btn {margin-left: 15px; width: 265px;}
}
.sm-text-area {position: relative; z-index: 100;}
.send-mail-pic {display: block; position: absolute; top: 43px; right: -40px; width: 750px;}

.yellow-banner {
  background: $yellow;
  position: relative; padding-top: 140px;
  .content {padding-top: 65px;}
  .undertitle {margin-top: 18px;}
}
.banner-info-part {position: relative; z-index: 50; height: 100%; position: relative;}
.oc-banner-block {.content {height: 285px;}}
.banner-pic {
  position: absolute;
  display: block; z-index: 10;
  height: 100%; bottom: 0;
  &.oc-pic {right: -255px;}
}
.regular-block {
  .content {padding-top: 65px;}
}
.breadcrumbs {
  font-size: 14px;
  li {display: inline-block}
  li.active {a {color: $blue}}
  a:hover {text-decoration: underline;}
  margin-bottom: 25px;
}
.post-date {
  font-size: 19px;
  color: $grey-text;
  position: absolute;
  top: 120px; right: 20px;
}
.block-title.bordered {
  max-width: 1020px;
  @include ellipsis;
}
.oc-desc-text {
  font-size: 19px;
  width: 95%; margin: 20px 0 40px 0;
}
.one-oc {
  .one-plate {float: none; height: 300px; display: block;}
  margin-bottom: 80px;
  &:last-of-type {margin-bottom: 0 !important;}
}
.oc-num {font-size: 170px; line-height: 136px;}
.oc-text {margin-top: 40px;}
.oc-buttons {
  float: right; margin-top: 40px;
  display: inline-block; vertical-align: top;
}

.oc-buttons { .blue-arrow-btn {margin-left: 29px; margin-top: 15px;} }
.circle-yellow {
  display: inline-block;
  width: 9px; height: 9px;
  background: $yellow; margin-left: 10px;
  border-radius: 50%;
}
.oc-share-block {
  margin-top: -40px;
  span {font-size: 22px; display: inline-block; vertical-align: middle;}
  .footer-col.sn {margin-left: 45px;}
}
.see-also {margin-top: 80px;}
.about-ill {width: 418px; right: 0; top: 58px;}

.pic-wrapper {
  border-radius: $radius;
  overflow: hidden; position: relative;
  box-shadow: $plate-shadow;
  &.about {width: 100%; height: 595px;}
  &.rekl {width: 100%; height: 420px;}
  &.smi {width: 100%; height: 358px;}
}
.pw-info {
  position: absolute;
  z-index: 100; left: 55px; bottom: 55px;
  color: #fff;
}
.pw-text {font-size: 22px; margin: 10px 0 0 2px;}
.info-block {
  margin-top: 85px;
  &.lm {margin-top: 50px;}
  .common-text:first-of-type {margin-top: 50px;}
  .common-text {margin-bottom: 20px;}
}
.stay-in-touch {margin-top: 70px;}

.st-con-col {
  display: inline-block; vertical-align: top;
  margin-left: 80px;
  &:first-of-type {margin-left: 0;}
  li {margin-bottom: 15px;}
  .st-title {font-family: $bold; margin-bottom: 20px;}
  font-size: 17px;
}
.footer-col.sn.separate {
  display: block;
  margin: 40px 0 0 -5px;
}

.forpres {
  font-family: $bold;
  font-size: 17px; line-height: 26px;
  margin-bottom: 35px;
}
.getpres {width: 260px;}
.rekl-ill {top: 35px; right: 0; width: 470px;}
.devider {margin-top: 60px;}

.st-con-col {
  .footer-col.sn.separate {margin-top: 15px;}
}
.fixed-width {width: 350px}
.contacts-ill {
  width: 250px;
  right: 0; top: 0;
}
.smi-text-block {
  margin-top: 40px;
  position: relative;
  .common-text {margin-top: 10px;}
  .smaller-title {@include ellipsis; max-width: 1050px;}
}
.smi-date {
  display: inline-block;
  color: $grey-text; position: absolute;
  top: 5px; right: 0;
}
.one-smi {margin-bottom: 70px;}

.userag-block {
  width: 90%;
  margin-bottom: 40px;
  &:last-of-type {margin-bottom: 0}
}
.ua-title {
  font-family: $bold;
  display: block;
  margin-bottom: 10px;
}
.categ-banner-block {
  border-bottom: 1px solid #bbbbc3;
  background: $yellow; padding-top: 140px;
  .content {height: 330px; padding-top: 65px}
  .breadcrumbs {
    position: absolute;
    bottom: 10px; left: 0;
  }
}
.categ-ill {
  display: block;
  position: absolute;
  right: -300px; bottom: 0;
  &.edu-ill {width: 1468px;}
  &.events-ill {right: -180px; height: auto; width: 1148px;}
  &.sport-ill {right: -170px; width: 1370px;}
  &.enter-ill {right: -135px; width: 1160px;}
  &.beauty-ill {right: -190px; width: 1200px;}
  &.shops-ill {right: -150px; width: 1150px;}
  &.camps-ill {right: -180px; width: 1150px;}
  &.uslugi-ill {right: -130px; width: 1200px;}
}
.comp-sort {
  text-align: right;
  display: inline-block;
  margin-left: 45px; position: relative;
  .sort-blue {margin-left: 10px;}
}
.sort-blue {
  display: inline-block;
  position: relative;
  left: auto; text-decoration: none;
}
.open-filters {width: 225px;}
.categ-filter-header {
  border-bottom: 1px solid #bbbbc3; background: #fff;
  .content {padding-top: 20px; padding-bottom: 20px;}
  position: relative; z-index: 2000;
  &.fixed {
    width: calc(100% - 40px) !important;
    top: 20px !important; left: 20px !important;
    position: fixed !important; min-width: 0;
    .content {}
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
  }
}
.city-selection-block.sort {text-align: left; width: 130px;}

.list-map {
  float: right; margin-top: 15px;
  display: inline-block;
  li {
    display: inline-block;
    cursor: pointer;
    font-size: 19px; padding-left: 38px;
    position: relative;
    &.map-btn {margin-left: 32px;}
    &:before {
      content: ''; transition: all .3s linear;
      width: 20px; height: 20px;
      border-radius: 50%; border: 1px solid $grey-border;
      position: absolute; left: 0; top: -3px;
    }
    &:hover {
      &:before {border-color: $red;}
    }
    &.active:after {
      content: ''; transition: all .3s linear;
      width: 12px; height: 12px;
      border-radius: 50%; background: $red;
      position: absolute; left: 5px; top: 2px;
    }
    &.active:hover {
      &:before {border-color: $grey-border;}
    }
  }
}
.categ-cards-block {
  padding-top: 20px;
  .one-plate.common-plate {
    margin-bottom: 32px; position: relative; z-index: 200;
    margin-left: 32px !important;
    &:nth-of-type(3n + 1) {margin-left: 0 !important;}
  }
}
.showmore-ksc.mm {margin-bottom: 20px;}

.map-itself {display: none;}

.map-scroller {
  overflow: visible;
  .mCSB_container, .mCustomScrollBox {overflow: visible;}
}

.categ-map {
  .map-scroller {
    overflow: hidden;
    .mCSB_container, .mCustomScrollBox {overflow: hidden;}
  }
  height: 100%;
  &:before {
    content: ''; width: 11px; height: 11px;
    background: url('../img/icons/close-map.svg') center no-repeat;
    position: absolute; top: 6px; right: 5px; cursor: pointer; z-index: 9000;
  }
  /*
  max-height: calc(100% - 121px);
  */
  .fake-margin {width: 100%; height: 16px;}
  padding-top: 0;
  position: fixed; top: 0; left: 0; z-index: 1500;
  background: rgba(0, 0, 0, 0.7);
  .content {
    height: 100%;
    overflow: hidden;
    width: 100%; margin: 0;
  }
  .one-plate.common-plate {
    &.highlight {border: 2px solid $blue}
    float: none; width: 500px;
    display: block; border: 1px solid #ddddea;
    margin-left: 0 !important;
    height: 182px;
    &.event-plate {height: 214px; .com-pic-area {height: 214px;}}
    margin-bottom: 16px;
    .com-pic-area, .com-info-area {display: inline-block; vertical-align: top;}
    .com-pic-area {width: 200px}
    .com-info-area {width: calc(100% - 200px); float: right}
  }
  .label.best, .label.free {margin-left: 0; margin-top: 10px; display: block;}
  .label.free {width: 87px}
  .label.best {width: 69px}
  .map-scroller {
    height: calc(100% - 172px);
    width: 550px;
    display: inline-block;
    border: 1px solid $light-grey;
    overflow: hidden;
    background: #fff; padding: 0 16px;
    position: absolute; top: 132px; left: 40px;
    z-index: 100; border-radius: $radius;
    box-shadow: $plate-shadow;
    .mCSB_scrollTools .mCSB_draggerContainer {left: 0;}
    .mCSB_scrollTools {width: 3px; height: calc(100% - 22px); top: 17px}
  }
  .common-plate .com-title {width: 225px;}
  .showmore-ksc {display: none}
  .map-itself {
    display: block;
    border-radius: $radius;
    width: calc(100% - 40px); height: calc(100% - 40px);
    background: $blue; position: absolute;
    top: 20px; right: 20px;
    overflow: hidden;
    iframe {width: 100%; height: 100%;}
  }
}

.marker {
  display: block; position: absolute;
  z-index: 100; cursor: pointer;
  width: 28px; height: 36px;
  &.small {width: 18px; height: 30px;}
  background: url("../img/icons/marker.svg") center no-repeat;
  &.one {top: 120px; right: 50px;}
  &.two {top: 250px; right: 80px;}
  &.three {top: 260px; right: 550px;}
  &.four {bottom: 120px; right: 50px;}
  &.five {bottom: 180px; right: 160px;}
  &.six {top: 350px; right: 350px;}
}

.comclose {top: 98px; font-size: 17px;}
.block-title.bordered.cc {max-width: 890px;}

.one-plate.common-plate.big-plate {
  display: block;
  float: none;
  margin: 0 0 32px 0;
  width: 100%; height: 316px;
  border: 1px solid $light-grey;
  .com-pic-area, .com-info-area {
    display: inline-block;
    vertical-align: top; height: 100%;
  }
  .com-chars {
    margin-top: 30px;
  }
  .com-pic-area {width: 603px;}
  .com-info-area {width: calc(100% - 603px); float: right}
}

.about-company {
  display: inline-block;
  vertical-align: top; width: 960px;
  .smaller-title {margin-bottom: 10px;}
}

.cc-benefits {
  margin-top: 30px;
  transform: translateX(-19px); width: calc(100% + 44px);
  .mCSB_scrollTools.mCSB_scrollTools_horizontal {height: 0}
}
.cc-ben-item {
  @extend .label;
  border: 1px solid #000;
  margin-left: 10px;
  &:first-of-type {margin-left: 19px;}
  &:last-of-type {margin-right: 22px;}
}
.com-desc {margin-bottom: 44px;}

.filials-list {
  font-size: 17px;
  margin-bottom: 32px;
  li {margin-bottom: 10px;}
  li:last-of-type {margin-bottom: 0;}
}
.f-title {font-family: $bold; font-size: 22px; display: block}
.cc-map-block {
  width: 100%; height: 315px; position: relative;
  border-radius: $radius; overflow: hidden;
  iframe {width: 100%; height: 100%}
  .marker.two {top: 50%; left: 50%; transform: translate(-50%, -50%)}
  .marker.one {top: 120px; left: 450px;}
  .marker.three {top: 150px; right: 450px; left: auto}
}

.share-company {
  display: inline-block; float: right;
  vertical-align: top; text-align: right;
  .smaller-title {margin-bottom: 10px;}
  .footer-col.sn {margin-left: 0;}
}

.oc-share.comcard {
  display: inline-block;
  vertical-align: top; margin-left: 50px;
  .footer-col.sn {margin: 10px 0 0 -5px;}
}

.feedbacks-block {
  margin-top: 60px;
  .block-title {margin-bottom: 15px;}
}
.all-feedbacks {
  display: inline-block; vertical-align: top;
  width: 818px;
}
.one-feedback {
  width: 100%;
  border-bottom: 1px solid $grey-border;
  padding-bottom: 25px; padding-top: 20px;
  .label.raiting {display: block}
}

.one-feedback:last-of-type {border-bottom: none;}
.mark-word {
  display: block;
  text-align: center;
  color: $grey-text;
  font-size: 12px; margin-top: 12px;
}
.fb-mark-block {
  display: inline-block; vertical-align: top;
  width: 42px;
}
.fb-body {
  display: inline-block; vertical-align: top;
  width: calc(100% - 72px); margin-left: 25px;
  .smaller-title {margin-bottom: 5px;}
  .common-text {margin-bottom: 12px}
  .blue-link {cursor: pointer}
}
.leaving-feedback {
  width: calc(100% - 72px); margin-left: 69px;
  opacity: 0; visibility: hidden; height: 1px; overflow: hidden;
  &.visible {
    height: auto; opacity: 1;
    visibility: visible; margin-bottom: 32px;
  }
  transition: all .3s linear;
  margin-top: 20px; .smaller-title {margin-bottom: 20px;}
  .fio, .email {width: 366px;}
  .email {margin-left: 10px;}
  .capcha-block, .capcha-code, .submit-fb {display: inline-block; vertical-align: top;}
  .userag-line {color: #000}
}
.feedback-text {height: 90px; width: calc(100% - 1px); margin: 14px 0; resize: vertical; padding: 13px 17px; line-height: normal}
.capcha-block {
  width: 124px; height: 51px; border-radius: $radius; text-align: center; padding-top: 4px;
  overflow: hidden; border: 1px solid $grey-border; position: relative;
  img {width: 90%; height: auto; min-width: 90%; min-height: 90%;}
}
.capcha-code {width: 151px; margin-left: 10px;}
.submit-fb {
  width: 205px;
  margin-left: 10px;
  &.disabled {background: lighten($red, 30%)}
}

.one-ppl-reply {
  padding: 22px;
  &:first-of-type {margin-top: 25px;}
  border-top: 1px solid $grey-border;
  .smaller-title {
    font-size: 17px; padding-right: 30px; margin-right: 13px;
    display: inline-block; vertical-align: bottom;
    margin-bottom: 8px; position: relative;
    &::before {
      content: ''; position: absolute;
      width: 16px; height: 11px; right: 0; top: 5px;
      background: url("../img/icons/reply-arrow.svg") center no-repeat;
    }
  }
  .common-text {font-size: 14px; line-height: normal; margin-bottom: 9px;}
  .repto {color: $grey-text; margin-bottom: 8px; display: inline-block; vertical-align: bottom; font-size: 14px;}
}
.show-more-replies {
  border-top: 1px solid $grey-border; padding: 22px 0 0 0; margin-bottom: 10px;
  span {text-decoration: underline;}
}
.hidden-replies {
  display: none;
  .one-ppl-reply:first-of-type {margin-top: 0;}
}
.smf {width: 100%;}

.leave-comment-block {
  display: inline-block;
  width: 356px; border-radius: $radius;
  background: #fff;
  box-shadow: $plate-shadow;
  float: right; padding: 30px;
  .smaller-title {margin-bottom: 20px;}
  .fio, .email, .feedback-text, .submit-fb {
    display: block; width: 100%;
    margin-bottom: 18px; margin-left: 0;
  }
  .capcha-block {display: inline-block; vertical-align: top;}
  .capcha-code {width: 150px; margin-bottom: 18px; margin-left: 18px;}
  .userag-line {text-align: center}
}
.mark-word-lc {
  display: inline-block;
  vertical-align: middle;
  font-size: 17px; margin-bottom: -7px;
}

.mark-block {margin: 10px 0 30px 0;}

.yourmark {
  display: inline-block;
  vertical-align: middle; float: right;
  li {
    transition: all .3s linear;
    cursor: pointer;
    margin: 0 3px;
    &:hover {color: $blue}
    &:last-child {margin-right: 0;}
    text-align: center;
    width: 26px; height: 26px;
    display: inline-block; vertical-align: middle;
    border-radius: 50%;
    padding-top: 5px;
    &.active {
      background: $blue;
      color: #fff;
      &:hover {color: #fff;}
    }
  }
}

.categ-filters {
  transition: all .3s linear;
  position: fixed; top: 0; left: 0;
  background: #fff; width: 100%;
  z-index: 3000; height: 285px; transform: translateY(-100%);
  transition: all .3s linear;
  &.opened {transform: translateY(0);}
  .content {padding: 24px 20px; transition: all .3s linear; height: 100%}
}
.filters-tabs {
  display: flex;
  justify-content: space-between;
}
.filter-tab {
  display: inline-block;
  a {
    display: block;
    position: relative;
    height: 51px;
    width: 186px;
    box-shadow: $input-shadow;
    border-radius: $radius;
    text-align: center;
    line-height: 52px;
    font-size: 17px;
    border: 1px solid $light-grey;
    &:hover {
      border-color: $blue;
      color: $blue
    }
  }
  &.active {
    a {
      background: $blue;
      border-color: $blue;
      color: #fff;
      &:hover {color: #fff;}
    }
  }
  &.selected {
    a{border-color: $blue; color: $blue;}
    &.active a {color: #fff;}
    a:before {
      content: '';
      width: 6px; height: 6px;
      border-radius: 50%; background: $blue;
      position: absolute; top: 8px; right: 8px;
    }
  }
}
.one-filter-plate {
  margin-top: 33px;
  background: #fff; height: 96px;
  &.active {visibility: visible !important;}
  .s-wrap.where {width: 286px;}
  .select2-container--default .select2-selection--single {border: 1px solid $light-grey;}
}

.select2-container {z-index: 3000;}
.many-filters-list {
  &.inline {display: inline-block; vertical-align: middle;}
  li {
    display: inline-block;
    height: 30px; line-height: 30px;
    margin-right: 8px; padding-left: 20px; padding-right: 20px;
    transition: all .3s linear;
    border: 1px solid $light-grey; border-radius: 50px;
    margin-bottom: 10px; cursor: pointer;
    &:hover {border-color: $blue; color: $blue}
    &.active {border-color: $blue; color: $blue}
  }
  &.bigger {
    li {
      margin-bottom: 0;
      height: 39px; line-height: 39px;
      padding-left: 20px; padding-right: 20px;
    }
  }
}
.chb-line {display: inline-block; vertical-align: middle; margin-left: 30px;}
.one-filter-plate#otherFilters {
  .chb-line {margin-left: 0; margin-right: 30px; margin-bottom: 23px;}
}
.apply-reset-filters {
  position: absolute; bottom: 24px; right: 20px;
  transition: all .3s linear;
  text-align: right;
  .red-btn {width: 256px; margin-left: 45px; transition: all .3s linear;}
  .reset-filters {
    transition: all .3s linear;
    color: $grey-text; text-decoration: underline;
    &:hover {opacity: .6;}
  }
  opacity: 0;
  visibility: hidden;
  &.visible {opacity: 1; visibility: visible}
}

.chb-label {
  font-size: 17px; cursor: pointer;
  position: relative; padding-left: 37px;
  background: #fff url("../img/icons/check.svg") center no-repeat;
  background-size: 1px;
  &:before {
    content: ''; width: 21px; height: 21px;
    border-radius: 3px; transition: all .3s linear;
    border: 1px solid $grey-border;
    position: absolute; top: 0; left: 0;
  }
  &:hover {
    &:before {border-color: $red}
  }
}
.checkbox:checked + .chb-label:before {
  border-color: $red;
  background: $red url("../img/icons/check.svg") center no-repeat;
  background-size: 13px;
}
.or {display: inline-block; font-size: 17px; margin-right: 20px; margin-left: 55px;}
.filter-input {border: 1px solid $light-grey; cursor: pointer;}
.filter-adress {width: 286px;}
.filter-input.price-input {width: 140px;}
.or.between {margin-left: 24px;}
.or.nm {margin-left: 0 !important;}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.tab-container {
  overflow: hidden; transition: all .3s linear;
  height: 0; opacity: 0; visibility: hidden;
  &.opened {height: 240px; opacity: 1; visibility: visible; margin-top: 32px;}
}
.slider-container {
  display: inline-block;
  vertical-align: middle;
  font-family: $reg !important;
  margin-left: 32px;
}
.theme-green .back-bar {
  height: 12px;
  background: #d2d2e2;
  border-radius: 50px;
}
.theme-green .back-bar .selected-bar {
  background: $blue;
}
.scale {
  span ins {
    font-size: 12px !important;
    color: #000 !important; top: 10px !important;
  }
  span:last-of-type ins {left: -20px !important;}
}
.theme-green .back-bar .pointer {
  border-radius: 50%;
  background: #fff;
  border: 1px solid $grey-border;
  box-shadow: $plate-shadow;
  width: 32px; height: 32px;
  top: -10px;
}

.slider-container .back-bar .pointer-label {
  top: -26px;
  font-size: 12px;
  color: #000;
}
.one-filter-plate#priceFilters {padding-top: 10px;}

.categ-filter-header.five {
  .filter-tab a {width: 224px;}
}

.post-date.comclose.event-card-date {
  color: #000;
  &:before {
    content: '';
    position: absolute;
    left: -35px; top: -2px;
    width: 18px; height: 18px;
    background: url("../img/icons/calendar.svg") center no-repeat;
  }
}
.select2-container--default .select2-search--dropdown .select2-search__field {
  border-radius: 4px;
  border: 1px solid $light-grey;
}

.contact-us-popup {
  width: 420px; padding: 50px;
  input, textarea {width: 100%; display: block; margin-bottom: 12px;}
  textarea {padding-top: 15px; height: 100px;}
  .red-btn {margin-bottom: 0;}
  .blue-btn {display: none}
  &.formsent {
    .common-text {display: none}
    .popup-form {display: none}
    .blue-btn {display: block; margin-top: 30px;}
  }
}

/*NEW*/

.mobshow {display: none !important;}
.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: $grey-text;
}
input {-webkit-appearance: none !important;}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #000;
}

.categ-filter-header.inview {
  top: 50px !important;
  &.onmap {transform: translateY(-30px)}
  &.false-hidden {opacity: 0; visibility: hidden}
}


@import "responsive";
