/*MEDIA QUERIES FOR KIDS POINT*/

@media (max-width: 650px) {
  html, body, .block {min-width: 1px}
  body {overflow-x: hidden}
  .block {overflow: hidden}
  .page-header {overflow: visible;}
  .content {width: 100%}
  .mobhide {display: none !important;}
  .mobshow {display: block !important;}
  .header-logo {
    width: 142px;
    margin: 10px 0 0 -12px;
    position: relative;
    z-index: 100;
  }
  .page-header {height: 103px; font-size: 16px;}
  .header-search-block {
    right: 9px; top: 12px;
    width: 100%; text-align: right;
    &:before {display: none;}
    &:after {display: none}
  }
  .mobile-search-btn {
    width: 39px; height: 39px;
    border-radius: $radius; background: $red;
    position: absolute; top: 0; right: 0; cursor: pointer;
    z-index: 200;
    &:after {
      content: ''; position: absolute;
      width: 19px; height: 19px; top: 10px; right: 10px;
      z-index: 105;
      background: url("../img/icons/search.svg") center no-repeat;
    }
  }
  .region-selection {
    display: block; margin-top: 9px; width: calc(100% + 40px);
    transform: translateX(-20px); padding: 11px 0 0 20px;
    margin-left: 0; border-top: 1px solid $light-grey;
  }
  .yes-no-and-reg {float: right; margin-right: 20px;}
  .header-search-block.visible {z-index: 200}
  .header-search-block .common-input {
    transition: all .3s linear;
    width: 1px; padding-right: 0; border-color: transparent;
    line-height: 39px;
    &.visible {
      width: calc(100% - 20px); opacity: 1;
      border-color: $light-grey;
    }
  }
  .search-results-block {
    width: calc(100% - 20px); max-height: 230px;
    left: 20px; text-align: left;
  }
  .yesno {display: none}
  .city-defined {top: 12px; left: 127px;}
  .city-defined.mobshow.visible {display: block !important;}
  .city-defined.mobshow {display: none !important;}
  .city-selection-block {
    top: 40px; width: 200px; right: 20px; left: 110px;
  }
  .main-menu-block {
    top: 100px;
    .mCSB_scrollTools.mCSB_scrollTools_horizontal {height: 0}
    .mCSB_horizontal.mCSB_inside>.mCSB_container {margin-bottom: 0}
  }
  .main-menu__item.choice {
    float: none; margin-left: 45px;
  }
  .page-header.shrinked {transform: translateY(-103px)}
  .p-scene, .index-guys, .index-hand, .index-tail, .index-eyes, .index-bg {display: none;}
  .index-banner-block {
    .content {
      padding: 207px 20px 20px 20px;
    }
  }
  .banner-title {
    font-size: 32px; margin-left: 0;
    position: relative; z-index: 10;
  }
  .banner-title.index-title {width: 200px;}
  .filter-input {
    width: 100% !important;
    margin-left: 0;
  }
  .fi-wrap {
    display: block;
    width: 100%; margin-bottom: 10px;
  }
  .s-wrap {width: 100% !important; display: block; margin-left: 0; margin-bottom: 10px;}
  .gosearch {
    width: 100%;
    margin-left: 0;
  }
  .index-filters-block {margin-top: 53px}
  .filter-input.when {line-height: 51px;}
  .small-banner-info {
    font-size: 12px; line-height: 16px;
    position: relative; z-index: 10; top: auto;
    left: auto; bottom: auto;
    p {margin-top: 4px}
    p.wm {margin-left: 0; margin-top: 20px; display: none}
  }
  .index-banner-block {height: auto; padding-bottom: 30px;}
  .datepickers-container {width: calc(100% - 40px);}
  .datepicker {width: 100%}
  .select2-container--default .select2-selection--single {border: 1px solid $light-grey}
  .index-mob-ill {
    top: 0; left: 0; z-index: 0;
    width: 617px;
    top: 156px; left: 0;
  }
  .block-title {
    font-size: 28px;
    margin-bottom: 28px;
    margin-left: 0;
  }
  .see-more-btn {
    display: block;
    position: static;
    width: 100%; height: 50px;
    line-height: 50px; margin-top: 10px;
  }
  .one-plate {
    width: 100% !important;
    float: none;
    margin-left: 0 !important;
    width: 100%; margin-bottom: 16px !important;
  }
  .choice-info {
    left: 25px;
    bottom: 20px;
  }
  .choice-desc {font-size: 17px;}
  .choice-numword {font-size: 28px;}
  .choice-num {display: block; margin: 0 0 -10px -3px;}
  .next-to-num {
    margin: 0 0 0 0;
    display: block;
    width: calc(100% - 50px);
  }
  .choice-info {display: block; width: 100%;}
  .one-plate.long-plate {margin-top: 0}
  .lines-block {margin-top: 50px;}
  .common-plate .com-title {
    width: calc(100% - 58px);
  }
  .lines-block.lm {margin-top: 47px;}
  .form-block .content {padding-top: 60px; padding-bottom: 60px;}
  .form-col {
    width: 100% !important;
    margin-left: 0 !important;
    display: block;
    .common-input {line-height: 51px}
  }
  .seo-block .seo-col {
    width: 100%;
    display: block;
    margin-left: 0 !important;
    margin-bottom: 20px;
  }
  .seo-block {
    .content {padding: 50px 20px 20px 20px;}
  }
  .page-footer {
    border-top: 1px solid $light-grey;
    padding-bottom: 35px; padding-top: 49px;
    margin-top: 0;
    .footer-logo {
      display: block;
      margin: 0 auto 50px auto;
      transform: translateX(-5px);
    }
    .footer-col {
      display: block;
      text-align: center;
      width: 100%; margin-bottom: 20px;
      li {margin-bottom: 20px;}
      margin-left: 0 !important;
      &.sn {margin: 40px auto; li {margin-bottom: 0}}
    }
    .copyright {
      float: none;
      margin-top: 0; display: block;
      text-align: center;
    }
  }
  .categ-banner-block .content {
    height: 410px; padding-top: 55px;
    .categ-ill {height: 250px; bottom: 0 !important; top: auto;}
  }
  .undertitle {font-size: 18px; line-height: 21px;}
  .breadcrumbs {display: none}
  .categ-ill.events-ill {
    width: auto;
    left: -48px; right: auto;
  }
  .open-filters, .open-filters:hover {
    width: 40px;
    height: 40px;
    transition: none;
    background: $red url("../img/icons/filters.svg") center no-repeat;
    background-size: 17px;
    &.toclose {
      background: $red url("../img/icons/close-filters.svg") center no-repeat;
      background-size: 17px;
    }
  }
  .list-map {
    float: none; margin-top: 22px;
    display: none;
  }

  .comp-sort {
    transform: translateY(-15px);
    margin-left: 23px; position: relative;
    z-index: 200;
  }
  .categ-filter-header {
    overflow: visible;
  }
  .city-selection-block.sort {top: 29px;}
  .categ-cards-block .one-plate.common-plate {margin-left: 0 !important;}
  .ks-three .one-plate {margin-left: 0 !important;}
  .showmore-ksc.mm {margin-top: 10px;}
  .ks-three {margin-bottom: 0}
  .send-mail-block {margin-top: 0;}
  .categ-cards-block {padding-top: 20px;}
  .see-also {margin-top: 30px;}
  .sm-form {
    margin-top: 10px;
    .common-input, .red-btn {width: 100%; display: block; margin-left: 0;}
    .red-btn {margin-top: 16px;}
  }
  .send-mail-block .small-banner-info {
    margin-top: 30px;
    br {display: none}
  }
  .send-mail-block .content {
    padding-top: 60px; padding-bottom: 25px; height: auto;
    .send-mail-pic {
      display: block;
      position: static;
      transform: translateX(-7%);
      width: 116% !important; margin-top: 30px;
    }
  }
  .categ-filter-header .content {padding-bottom: 15px;}
  .categ-ill {right: auto !important; width: auto !important;}
  .categ-ill.edu-ill {left: -214px;}
  .categ-ill.sport-ill {left: -334px;}
  .categ-ill.enter-ill {left: -110px;}
  .categ-ill.beauty-ill {left: -95px;}
  .categ-ill.shops-ill {left: -158px;}
  .categ-ill.camps-ill {left: -55px;}
  .categ-ill.uslugi-ill {left: -191px;}
  .scrollmagic-pin-spacer {min-height: auto !important;}
  .popup {
    padding: 50px 35px 45px 35px;
    width: 90%; height: auto;
    .common-text br {display: none}
  }
  .uacont {padding-bottom: 60px;}
  .upper-block .content {padding-top: 46px;}
  .about-ill, .rekl-ill {
    position: static;
    width: 200px; margin-bottom: 40px;
  }
  .about-block {
    .undertitle br {display: none}
  }
  .info-block {margin-top: 60px;}
  .pic-wrapper.about {height: 245px;}
  .pw-info {left: 20px; bottom: 20px;}
  .pw-text {font-size: 18px; margin: 2px 0 0 2px;}
  .info-block .common-text:first-of-type {margin-top: 35px}
  .stay-in-touch {margin-top: 50px; padding-bottom: 60px;}
  .st-con-col {
    display: block;
    margin-left: 0;
  }
  .info-block.lm {margin-top: 20px;}
  .pic-wrapper.smi {height: 190px;}
  .smi-date, .post-date {
    position: relative; left: auto; top: auto; right: auto; bottom: auto;
    display: block; margin: 7px 0 14px 0;
  }
  .event-card-date {margin-left: 36px; margin-bottom: 25px}
  .one-smi {margin-bottom: 45px;}
  .smi-block {.content {padding-bottom: 25px;}}
  .forpres br {display: none}
  .pic-wrapper.rekl {height: 240px;}
  .rekl-block .content {padding-bottom: 40px;}
  .contacts-ill {
    transform: scaleX(-1) translateX(80px);
    position: static; margin-bottom: -80px;
  }
  .devider {margin-top: 20px;}
  .st-con-col {
    display: block;
    width: 100%;
  }
  .st-con-col:first-of-type {margin-bottom: 40px;}
  .contacts-block .content {
    padding-bottom: 30px;
    .footer-col li:last-of-type {margin-bottom: 15px;}
  }
  .ks-cat-paw, .ks-cat {display: none}
  .block-title.wu {margin-bottom: 10px;}
  .ksg-col {
    float: none;
    display: block;
    width: 100%; margin-left: 0 !important;
    .one-plate {height: 240px !important;}
  }
  .one-plate.choice-plate {height: 240px;}
  .choice-block .content {
    padding-bottom: 55px;
    .undertitle{margin-bottom: 23px;}
  }
  .choice-num.huge-num, .oc-num {
    font-size: 72px;
    line-height: normal;
    margin: 0 0 -15px -3px;
  }
  .regular-block .content {padding-top: 38px; padding-bottom: 50px;}
  .block-title.bordered, .smi-text-block .smaller-title {
    width: 100%;
    max-width: 100%;
    overflow: visible;
    white-space: pre-wrap;
  }
  .oc-share-block .footer-col.sn {
    margin: 20px 0 25px -3px;
  }
  .one-oc {margin-bottom: 50px;}
  .one-oc .one-plate {height: 240px;}
  .oc-text {margin-top: 27px;}
  .oc-share-block{margin-top: 10px;}
  .banner-pic.oc-pic {right: auto; left: -30px;}
  .undertitle.nobr br {display: none;}
  .com-card-block .content {padding-bottom: 55px;}
  .about-company {
    margin-top: 15px; width: 100%;
  }
  .com-desc {margin-bottom: 40px;}
  .share-company {
    float: none;
    text-align: left; margin-bottom: 40px;
    .footer-col.sn {margin-left: -3px; margin-top: 5px}
  }
  .cc-map-block {height: 240px;}
  .all-feedbacks {
    display: block;
    width: 100%;
  }
  .leaving-feedback {
    width: 100%; margin-left: 0;
    form {width: 100% !important;}
    .common-input {line-height: 51px !important;}
    textarea.common-input {line-height: normal !important;}
    .capcha-code {float: right; width: calc(100% - 140px);}
  }
  .leaving-feedback .email, .leaving-feedback .fio {
    width: 100%;
    display: block;
    margin-left: 0;
  }
  .leaving-feedback .email {margin-top: 14px;}
  .submit-fb {
    width: 100%; margin-left: 0;
    margin-top: 14px;
  }
  .leave-comment-block {
    float: none;
    display: block;
    width: 100%;
    margin-top: 40px; margin-bottom: 60px;
    .common-input {line-height: 51px !important;}
    textarea.common-input {line-height: normal !important;}
    .capcha-code { width: calc(100% - 146px);}
  }
  .one-plate.common-plate.big-plate {
    height: auto; margin-bottom: 25px !important;
    .com-pic-area {
      display: block;
      width: 100%; position: relative;
      height: 240px;
    }
    .com-info-area {
      float: none;
      width: 100%;
      display: block;
      padding-bottom: 0;
    }
  }
  .getpres {width: 100%}
  br.nohide {display: block !important;}
  .common-input {line-height: 51px !important;}
  .header-search-block {
    .common-input {line-height: 39px !important;}
  }
  .smi-text-block {margin-top: 30px;}
  li.main-menu__item.choice.mobshow {display: inline-block !important; margin-left: 26px}

  .filters-tabs {display: block; width: 100%}
  .filter-tab {
    display: block;
    width: 100% !important;
    margin-left: 0;
  }
  .filter-tab a {
    display: block;
    width: 100%; margin-bottom: 10px;
    margin-left: 0;
    height: 39px; line-height: 39px;
  }
  .categ-filter-header.five .filter-tab a {width: 100%}
  .tab-container {
    width: calc(100% + 40px);
    transform: translateX(-20px);
    padding: 0 20px;
    .mCustomScrollBox {overflow: visible}
    .mCSB_scrollTools {right: -18px}
  }
  .tab-container.opened {
    height: calc(100% - 202px); margin-top: 15px;
    margin-bottom: 93px;
  }
  .apply-reset-filters {
    width: 100%; bottom: 49px;
    border-top: 1px solid $light-grey; background: #fff; right: auto;
    left: 0; z-index: 10000;
    .red-btn {
      width: calc(100% - 40px); margin-left: 0; margin-bottom: 50px;
      height: 39px; line-height: 39px;
    }
    .reset-filters {
      display: block;
      transform: translateY(72px);
    }
    text-align: center;
  }
  .one-filter-plate {height: auto}
  .categ-filter-header {
    &.opened {
      height: 100%; .content {height: 100%}
      box-shadow: $plate-shadow;
    }
  }
  .or {display: none}
  .many-filters-list li {
    height: auto;
    line-height: 20px; padding: 3px 12px;
  }
  .chb-label {
    display: block;
    margin-bottom: 25px;
  }
  .chb-line {margin-left: 0; margin-top: 14px;}
  .chb-label:before {top: -2px;}
  .many-filters-list.bigger li {
    height: 30px; line-height: 30px;
    padding: 0 12px; margin-bottom: 10px;
  }
  .slider-container {
    width: 300px !important;
    margin: 20px 0 35px 17px;
  }
  .one-filter-plate#otherFilters .chb-line {margin-bottom: -10px}
  .open-filters.mobshow {display: inline-block !important;}
}

@media (max-width: 410px) {
  .st-con-col {
    display: block;
    margin-left: 0;
    a {display: block; margin-top: 10px}
  }
}

@media (max-width: 350px) {
  .one-plate.choice-plate {height: 220px}
  .userag-line br {display: none}
  .smaller-title {font-size: 18px;}
  .common-plate .com-info-area {padding-top: 20px;}
  .mark-block {text-align: center}
  .yourmark {
    display: block;
    width: 100%; float: none;
    margin-top: 25px;
  }
  .banner-info-part .undertitle br {display: none}
}
/*
@media (max-height: 800px) {
  .tab-container.opened {
    height: 385px; margin-top: 15px;
    margin-bottom: 93px;
  }
}

@media (max-height: 575px) {
  .tab-container.opened {
    height: 250px; margin-top: 15px;
    margin-bottom: 93px;
  }
}
*/