.popup-wrapper#comclosePopup
    .popup.comclose-popup
        .close-popup
        img.cat-pop-ill(src="img/illustrations/colombo.svg")
        h3.popup-title.smaller-title Спасибо, что сообщили!
        p.popup-text.common-text
            | Мы удалим эту компанию,
            br
            |  чтобы никто не&nbsp;растерялся

        .blue-btn.big-btn.popup-btn.just-close-btn Я молодец