.popup-wrapper#contactUsPopup
    .popup.contact-us-popup
        .close-popup
        h3.popup-title.smaller-title Давайте знакомиться
        p.popup-text.common-text
            | Заполните&nbsp;форму,
            br.nohide
            |  и&nbsp;мы&nbsp;скоро свяжемся с&nbsp;вами


        form.popup-form
            input.common-input(type="text", placeholder="Ваша компания")
            input.common-input(type="text", placeholder="Ваш Email")
            textarea.common-input(placeholder="Сообщение")
            input.red-btn#submitCont(type="submit", value="Отправить")

        .blue-btn.big-btn.popup-btn.just-close-btn Я жду вашего письма