.popup-wrapper#noSearchResults
    .popup
        .close-popup
        img.cat-pop-ill(src="img/illustrations/no-search-results.svg")
        h3.popup-title.smaller-title Увы, такого нет :(
        p.popup-text.common-text
            | Попробуйте изменить
            br
            |  условия поиска в&nbsp;фильтрах
        .blue-btn.big-btn.popup-btn.just-close-btn.ponyatno Понятно, сейчас