.popup-wrapper#otherCityPopup
    .popup
        .close-popup
        img.cat-pop-ill(src="img/illustrations/city-popup.svg")
        h3.popup-title.smaller-title Немного терпения!
        p.popup-text.common-text
            | Пока мы работаем только в&nbsp;Москве,
            br
            |  но&nbsp;скоро ситуация изменится
        .blue-btn.big-btn.popup-btn.just-close-btn Я просто смотрю