.popup-wrapper#swearPopup
    .popup
        .close-popup
        img.cat-pop-ill(src="img/illustrations/swear.svg")
        h3.popup-title.smaller-title Ругаетесь? Тут&nbsp;же&nbsp;дети!
        p.popup-text.common-text
            | Похоже, в&nbsp;вашем отзыве есть
            br
            |  плохие слова. Поправьте, пожалуйста
        .blue-btn.big-btn.popup-btn.just-close-btn Хорошо, сейчас