.block.categ-filter-header.five#cf
    .content
        .red-btn.big-btn.open-filters.mobhide Открыть фильтры
        a.red-btn.big-btn.open-filters.mobshow(href="#cf")

        .comp-sort
            include ../pieces/sort-variants
            p.r-def-phrase Сортировать по:
            .sort-blue#sortDef Дате

        ul.list-map
            li.list-btn.active Списком
            li.map-btn На карте


        .tab-container
            ul.filters-tabs
                li.filter-tab
                    a(href='#categoryFilters') Секции
                li.filter-tab.selected
                    a(href='#placeFilters') Место
                li.filter-tab
                    a(href='#ageFilters') Возраст
                li.filter-tab
                    a(href='#priceFilters') Стоимость
                li.filter-tab
                    a(href='#otherFilters') Ещё

            .one-filter-plate#categoryFilters
                ul.many-filters-list
                    li Боевые искусства
                    li Спортивные и бальные танцы
                    li Гимнастика
                    li Легкая атлетика
                    li Теннис
                    li Бокс
                    li Шахматы и шашки
                    li Футбол
                    li Хоккей
                    li Лыжи и сноуборд
                    li Плавание
                    li Аэротруба
                    li Фигурное катание
                    li Конный спорт
                    li Балет
                    li Другое

            .one-filter-plate#placeFilters
                input.checkbox#nextToMe(type='checkbox', hidden='hidden', name='nextToMe')
                label.chb-label(for="nextToMe") Рядом со мной

                span.or или

                .s-wrap.f-wr.where
                    select.indexMetro(name='Where')
                        option
                        option(value='Черкизовская') Черкизовская
                        option(value='Преображенская площадь') Преображенская площадь
                        option(value='Маяковская') Маяковская
                        option(value='Спортивная') Спортивная
                        option(value='Б. Баррикадная') Б. Баррикадная
                        option(value='Разумовская') Разумовская

                span.or или

                input.common-input.filter-input.filter-adress(placeholder='Адрес')

            .one-filter-plate#ageFilters

                ul.many-filters-list.bigger.inline
                    li от 0 до 3
                    li от 4 до 8
                    li от 9 до 12
                    li от 13 до 17

                .chb-line
                    input.checkbox#anyAge(type='checkbox', hidden='hidden', name='anyAge')
                    label.chb-label(for="anyAge") Любой

            .one-filter-plate#priceFilters

                input.checkbox#anyPrice(type='checkbox', hidden='hidden', name='anyPrice')
                label.chb-label(for="anyPrice") Любая стоимость

                input.slider-input(type='hidden' value='0')


            .one-filter-plate#otherFilters
                .chb-line
                    input.checkbox#speakEnglish(type='checkbox', hidden='hidden', name='speakEnglish')
                    label.chb-label(for="speakEnglish") Частные учреждения
                .chb-line
                    input.checkbox#openNow(type='checkbox', hidden='hidden', name='openNow')
                    label.chb-label(for="openNow") Муниципальные учреждения
                .chb-line
                    input.checkbox#sickKid(type='checkbox', hidden='hidden', name='sickKid')
                    label.chb-label(for="sickKid") Говорят по-английски
                .chb-line
                    input.checkbox#parking(type='checkbox', hidden='hidden', name='parking')
                    label.chb-label(for="parking") Парковка
                .chb-line
                    input.checkbox#rr(type='checkbox', hidden='hidden', name='rr')
                    label.chb-label(for="rr") Открыто сейчас
                .chb-line
                    input.checkbox#cc(type='checkbox', hidden='hidden', name='cc')
                    label.chb-label(for="cc") Индивидуальные занятия
                .chb-line
                    input.checkbox#vv(type='checkbox', hidden='hidden', name='vv')
                    label.chb-label(for="vv") Для детей с ограниченными возможностями

        .apply-reset-filters
            a.reset-filters(href="#") Сбросить фильтры
            button.red-btn.big-btn Показать 56 вариантов