mixin footer(options)

    block footer-options
        - var footerClass = 'block page-footer' + options.footerClass

    footer(class=footerClass)
        .content
            a(href='index.html')
                img.footer-logo(src="img/misc/logo-vert.svg")
            ul.footer-col
                li
                    a(href="about.html") О компании
                li
                    a(href="smi.html") СМИ о нас

            ul.footer-col
                li
                    a(href="reklama.html") Реклама
                li
                    a(href="contacts.html") Контакты

            ul.footer-col
                li
                    a(href="userag.html") Пользовательское соглашение
                li
                    a(href="rass.html") Правила рассылок

            ul.footer-col.sn
                li
                    a.fb(href="#", target="_blank")
                li
                    a.vk(href="#", target="_blank")
                li
                    a.ok(href="#", target="_blank")
                li
                    a.tw(href="#", target="_blank")

            p.copyright Kids Point, 2018