.block.form-block
    .content
        h2.block-title
            | Мы с удовольствием
            br
            |  добавим вашу компанию
        form.add-company-form
            .form-col
                input.common-input(type="text", placeholder="Название *")
                input.common-input(type="text", placeholder="Сфера деятельности *")
                input.common-input(type="text", placeholder="ОГРН/ОГРНИП")
                input.common-input(type="text", placeholder="ИНН/ИННИП")
                input.common-input(type="text", placeholder="Адрес сайта")
            .form-col
                input.common-input(type="email", placeholder="Email *")
                input.common-input(type="text", placeholder="Фактический адрес *")
                input.common-input(type="text", placeholder="Телефон")
                input.common-input(type="text", placeholder="Время работы")
                input.red-btn(type="submit", value="Отправить заявку")

            p.userag-line
                | Регистрируя вашу компанию на сервисе Kids Point,
                br
                |  вы принимаете условия
                |
                a.blue-link(href="userag.html") пользовательского соглашения