mixin header(options)

    block header-options
        - var headerClass = 'block page-header' + options.headerClass

    header(class=headerClass)
        .content
            a(href="index.html")
                img.header-logo(src="img/misc/logo-hor.svg")
            .region-selection
                include ../pieces/city-selection
                p.r-def-phrase.city-def-phrase Ваш регион Москва или Мос. область?
                .yes-no-and-reg
                    .yesno
                            span.yes Да
                            span.no Нет
                    .city-defined.msc.mobhide Москва и Мос. обл.
                    .city-defined.msc.mobshow.visible Москва и Мос. обл.
                    .city-defined.other Другой регион

            .header-search-block
                .mobile-search-btn
                input.common-input#headerSearch(type="search", placeholder="Я хочу найти...")
                include ../pieces/search-results

