mixin menu(options)
    -
        var menu = {
        events: ['events.html'],
        education: ['education.html'],
        sport: ['sport.html'],
        enter: ['enter.html'],
        beauty: ['beauty.html'],
        shops: ['shops.html'],
        camps: ['camps.html'],
        uslugi: ['uslugi.html'],
        choice: ['choice.html']
        };
    block menu-options
        - var menuClass = 'block main-menu-block ' + options.menuClass;

    header(class=menuClass)
        .content.main-menu-content
            nav.main-menu
                ul.main-menu__list
                    li.main-menu__item.choice.mobshow
                        a.main-menu__link(href='choice.html' class=(options.activePage === 'choice.html' ? 'active' : ''))
                            | Выбор Kids Point
                    li.main-menu__item
                        a.main-menu__link(href='events.html' class=(options.activePage === 'events.html' ? 'active' : ''))
                            | Мероприятия
                    li.main-menu__item
                        a.main-menu__link(href='education.html' class=(options.activePage === 'education.html' ? 'active' : ''))
                            | Образование
                    li.main-menu__item
                        a.main-menu__link(href='sport.html' class=(options.activePage === 'sport.html' ? 'active' : ''))
                            | Спорт
                    li.main-menu__item
                        a.main-menu__link(href='enter.html' class=(options.activePage === 'enter.html' ? 'active' : ''))
                            | Развлечения
                    li.main-menu__item
                        a.main-menu__link(href='beauty.html' class=(options.activePage === 'beauty.html' ? 'active' : ''))
                            | Здоровье и красота
                    li.main-menu__item
                        a.main-menu__link(href='shops.html' class=(options.activePage === 'shops.html' ? 'active' : ''))
                            | Магазины
                    li.main-menu__item
                        a.main-menu__link(href='camps.html' class=(options.activePage === 'camps.html' ? 'active' : ''))
                            | Лагеря
                    li.main-menu__item
                        a.main-menu__link(href='uslugi.html' class=(options.activePage === 'uslugi.html' ? 'active' : ''))
                            | Услуги
                    li.main-menu__item.choice.mobhide
                        a.main-menu__link(href='choice.html' class=(options.activePage === 'choice.html' ? 'active' : ''))
                            | Выбор Kids Point

