.block.send-mail-block
    .content
        .sm-text-area
            h1.banner-title Еженедельная рассылка Kids Point
            p.undertitle.mt О лучших детских развлечениях недели

            form.sm-form
                input.common-input(type="email", placeholder="Ваш Email")
                input.red-btn.big-btn(type="submit", value="Подписаться")

            p.small-banner-info
                | Подписываясь на рассылку, вы соглашаетесь на получение информационных
                br
                |  и рекламных сообщений в соответствии с
                |
                a.blue-dashed-link(href="rass.html") правилами рассылок
        img.send-mail-pic(src="img/illustrations/mail-sending.svg")