.block.seo-block
    .content
        p.seo-col Ребёнок (множ. дети) — в основном значении, человек в период детства. Возрастные границы детства разнятся в различных культурах, теориях жизненного цикла и юридических системах. В общем случае ребёнком называют человека от рождения.
        p.seo-col До окончания пубертатного периода. Де́вочка — ребёнок женского пола; ма́льчик — ребёнок мужского пола. Раздел медицины, посвящённый детскому здоровью, называется педиатрия. Русское слово «ребёнок» происходят от др.
        p.seo-col В России Пётр I издаёт указ «О строении в Москве госпиталей для помещения незаконнорождённых младенцев и о даче им и их кормилицам денежного жалования». Позже М. В. Ломоносов высказывает.