extends template

block title
    title О нас


block header
    include ./components/blocks/header
    + header({headerClass: ''})
    include ./components/blocks/menu
    + menu({menuClass: '', isWhite: true, isIndexPage: false, activePage: 'about.html'})

block content
    main.lpaws
        include ./components/popups/other-city-popup

        .block.upper-block.about-block
            .content
                ul.breadcrumbs
                    li
                        a(href="index.html") Главная /
                    li.active
                        a(href="about.html") О нас


                img.just-ab.about-ill(src="img/illustrations/about-ill.svg")
                h2.block-title.wu Kids Point работает для&nbsp;вас
                p.undertitle.lm
                    | Мы создали этот сервис для родителей и&nbsp;детей. Удобство
                    br
                    |  и&nbsp;комфорт превыше всего! В основе нашего сервиса лежат  следующие
                    br
                    |  принципы: удобство, скорость, наглядность.
                p.undertitle
                    | «Каждый день команда професиионалов трудится для того,
                    br
                    |  чтобы облегчить вам поиски максимально приятного досуга
                    br
                    |  для ваших детей».

                p.under ~ Команда Kids Point

        .block.info-block
            .content
                .pic-wrapper.about
                    img.ab-img(src="img/misc/about-pic.jpg")
                    .pw-info
                        h3.choice-numword Команда Kids Point
                        p.pw-text Январь 2018 год

                p.common-text
                    | В конце 1896 года в столичной печати были опубликованы условия Конкурса на составление проекта здания
                    | для Музея изящных искусств имени императора Александра III при Московском университете, который по просьбе университета проводила Петербургская Академия художеств. С этого момента началось осуществление давней мечты о создании в Москве художественно-образовательного общедоступного музея.
                p.common-text
                    | Проекты подобного учреждения неоднократно излагались в печати княгиней Зинаидой Александровной Волконской и Степаном Петровичем Шевыревым (1831), профессором Карлом Карловичем Гёрцем (1858), директором Московского Публичного и Румянцевского музеев Николаем Васильевичем Исаковым .
                    | О необходимости Москве такого музея неоднократно с 1893 года писал и профессор кафедры теории и истории искусства Московского университета, доктор римской словесности и историк искусства Иван Владимирович Цветаев (1847–1913). Он же разработал условия Конкурса.


                .stay-in-touch
                    h2.block-title Будьте на связи
                    ul.st-con-col
                        li
                            | Единый телефон:
                            |
                            a.blue-link(href="#") +7 900 785-45-66

                        li
                            | Корпоративная почта:
                            |
                            a.blue-link(href="#") sayhi@kidspoint.ru

                    ul.st-con-col
                        li
                            | Для предложений и жалоб:
                            |
                            a.blue-link(href="#") +7 800 789-67-62

                        li
                            | Отдел маркетинга:
                            |
                            a.blue-link(href="#") mar@kids-point.com

                    ul.st-con-col
                        li
                            | Телефон для приколов
                            |
                            a.blue-link(href="#") +7 800 789-67-63

                        li
                            | Отдел котов:
                            |
                            a.blue-link(href="#") cat@kids-point.com

                    ul.footer-col.sn.separate
                        li
                            a.fb(href="#", target="_blank")
                        li
                            a.vk(href="#", target="_blank")
                        li
                            a.ok(href="#", target="_blank")
                        li
                            a.tw(href="#", target="_blank")

        include ./components/blocks/send-mail
        include ./components/blocks/footer
        + footer({footerClass: '', isIndex: true})

        include ./components/blocks/seo
