extends template

block title
    title Выбор Kids Point


block header
    include ./components/blocks/header
    + header({headerClass: ''})
    include ./components/blocks/menu
    + menu({menuClass: '', isWhite: true, isIndexPage: false, activePage: 'choice.html'})

block content
    main.lpaws
        include ./components/popups/other-city-popup

        .block.upper-block.choice-block
            .content

                ul.breadcrumbs
                    li
                        a(href="index.html") Главная /
                    li.active
                        a(href="choice.html") Выбор Kids Point

                h2.block-title.wu Выбор Kids Point
                p.undertitle Лучшие места и события по версии редакции

                .kp-selection-grid
                    img.ks-cat(src="img/illustrations/search-cat-popout.svg")
                    img.ks-cat-paw(src="img/illustrations/cat-paw.svg")
                    .ksg-col
                        a.one-plate.choice-plate.short-plate.big(href="one-choice.html")
                            .p-dark
                            img.ab-img(src="img/post-pics/sel-full-1.jpg")
                            span.choice-info
                                span.choice-num.huge-num 7
                                span.next-to-num
                                    span.choice-numword музеев
                                    span.choice-desc в которых ваш ребенок не уснет
                        a.one-plate.choice-plate.short-plate.average(href="one-choice.html")
                            .p-dark
                            img.ab-img(src="img/post-pics/sel-full-3.jpg")
                            span.choice-info
                                span.choice-num 8
                                span.next-to-num
                                    span.choice-numword спектаклей
                                    span.choice-desc октября

                    .ksg-col
                        a.one-plate.choice-plate.short-plate(href="one-choice.html")
                            .p-dark
                            img.ab-img(src="img/post-pics/sel-2.jpg")
                            span.choice-info
                                span.choice-num 13
                                span.next-to-num
                                    span.choice-numword мест
                                    span.choice-desc для непосед в Москве
                        a.one-plate.choice-plate.short-plate.biggest(href="one-choice.html")
                            .p-dark
                            img.ab-img(src="img/post-pics/sel-full-4.jpg")
                            span.choice-info
                                span.choice-num.huge-num 11
                                span.next-to-num
                                    span.choice-numword фильмов
                                    span.choice-desc
                                        | для совместного
                                        br
                                        |  просмотра с детьми

                    a.one-plate.choice-plate.long-plate(href="one-choice.html")
                        .p-dark
                        img.ab-img(src="img/post-pics/sel-3.jpg")
                        span.choice-info
                            span.choice-num 20
                            span.next-to-num
                                span.choice-numword ресторанов
                                span.choice-desc в которых ваши дети найдут, чем заняться

                    .clearfix
                    .ks-three
                        a.one-plate.choice-plate.short-plate.tripple(href="one-choice.html")
                            .p-dark
                            img.ab-img(src="img/post-pics/sel-full-6.jpg")
                            span.choice-info
                                span.next-to-num.alone
                                    span.choice-numword
                                        | Планы
                                        br
                                        |  на выходные
                                    span.choice-desc куда сходить с детьми

                        a.one-plate.choice-plate.short-plate.tripple(href="one-choice.html")
                            .p-dark
                            img.ab-img(src="img/post-pics/sel-full-7.jpg")
                            span.choice-info
                                span.next-to-num.alone
                                    span.choice-numword
                                        | Многодетным
                                        br
                                        |  родителям
                                    span.choice-desc
                                        | Места, которые интересны
                                        br
                                        |  и в 5 и в 15

                        a.one-plate.choice-plate.short-plate.tripple(href="one-choice.html")
                            .p-dark
                            img.ab-img(src="img/post-pics/sel-full-8.jpg")
                            span.choice-info
                                span.choice-num 5
                                span.next-to-num
                                    span.choice-numword квестов
                                    span.choice-desc для похода с семьей


                        .clearfix


        include ./components/blocks/send-mail
        include ./components/blocks/footer
        + footer({footerClass: '', isIndex: true})

        include ./components/blocks/seo
