extends template

block title
    title Юные лингвисты


block header
    include ./components/blocks/header
    + header({headerClass: ''})
    include ./components/blocks/menu
    + menu({menuClass: '', isWhite: true, isIndexPage: false, activePage: 'education.html'})

block content
    main
        include ./components/popups/other-city-popup
        include ./components/popups/comclose-popup
        include ./components/popups/swear-popup

        .block.upper-block.com-card-block
            .content
                ul.breadcrumbs
                    li
                        a(href="index.html") Главная /
                    li
                        a(href="education.html") Образование /
                    li.active
                        a(href="com-card.html") Юные лингвисты

                h2.block-title.wu.bordered.cc Юные лингвисты
                p.post-date.comclose
                    | Компания закрылась?
                    |
                    a.blue-link#comclose(href='#') Сообщите нам

                .one-plate.common-plate.big-plate
                    .com-pic-area
                        img.ab-img(src="img/post-pics/education/9.jpg")
                    .com-info-area
                        .labels
                            span.c-type.label Школа ин. языков
                            span.best.label Лучшее
                        span.label.raiting.good 5.0
                        ul.com-chars
                            li.age с 3 лет
                            li.price 84 000 в год
                            li.location м. Баумана, ул. Вафина, 278/А
                            li.time 10:00 - 20:00
                            li.phone
                                a.blue-link(href="tel: +79227107912") +7 922 710 79 12
                            li.site
                                a.blue-link(href="#") youthlingvo.com



                        .cc-benefits
                            ul.cc-ben-list
                                li.cc-ben-item Парковка рядом
                                li.cc-ben-item Говорят на английском
                                li.cc-ben-item Частное учреждение
                                li.cc-ben-item Для детей с ограниченными возможностями

                .about-company
                    h3.smaller-title О компании
                    p.com-desc.common-text
                        | Языковая школа «Юные лингвисты» существует с 1992 года. За 26 лет мы открыли 15 филиалов в Москве
                        | и Санкт-Петербурге. У нас работают преподаватели с многолетним стажем, каждый из них имеет категорию Proficiency
                        | языке, который преподает. У нас доступно обучение по следующим направлениям: английский, французский, Испанский,
                        | Арабский, Турецкий, Иврит. Чтобы записаться — позвоните.

                .share-company
                    h3.smaller-title Поделиться

                    ul.footer-col.sn
                        li
                            a.fb(href="#", target="_blank")
                        li
                            a.vk(href="#", target="_blank")
                        li
                            a.ok(href="#", target="_blank")
                        li
                            a.tw(href="#", target="_blank")



                ul.filials-list
                    li.f-title Адреса филиалов
                    li.f-item м. Одинцово, ул. Фактурная, 39 (Главный офис)
                    li.f-item м. Охотный ряд, ул. Космодемьянская, 156
                    li.f-item м. Баррикадная, ул. Великая, 44

                .cc-map-block
                    .marker.one.small
                    .marker.two
                    .marker.three.small
                    iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d577325.3466010405!2d36.82513586830873!3d55.58152446697099!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54afc73d4b0c9%3A0x3d44d6cc5757cf4c!2z0JzQvtGB0LrQstCw!5e0!3m2!1sru!2sru!4v1538220309900' frameborder='0' style='border:0' allowfullscreen='')

                .feedbacks-block
                    h2.block-title Отзывы

                    ul.all-feedbacks
                        li.one-feedback
                            .fb-mark-block
                                .label.raiting.good 5
                                span.mark-word оценка
                            .fb-body
                                h3.smaller-title Оксана Сливинская
                                p.fb-text.common-text Все отлично, многое узнала за короткий срок!
                                a.blue-link.leavereply(href="#leavingFeedback") Ответить


                        li.one-feedback
                            .fb-mark-block
                                .label.raiting.good 5
                                span.mark-word оценка
                            .fb-body
                                h3.smaller-title Олег Газманов
                                p.fb-text.common-text Это опупенное место! Мой ребёнак в восторге - учит языки судовольствим! Думаю сам записатся тоже, полезна!
                                a.blue-link.leavereply(href="#leavingFeedback") Ответить

                                .ppl-replies
                                    .one-ppl-reply
                                        h3.smaller-title Федор Кочкин
                                        span.repto Олегу
                                        p.fb-text.common-text Н-да уж... Вам бы не помешало
                                        a.blue-link.leavereply(href="#leavingFeedback") Ответить

                                    .one-ppl-reply
                                        h3.smaller-title Леся Гора
                                        span.repto Федору Кочкину
                                        p.fb-text.common-text Зачем вы цепляетесь? Здесь не форум грамотеев, а просто отзывы люди пишут.
                                        a.blue-link.leavereply(href="#leavingFeedback") Ответить


                                    .hidden-replies
                                        .one-ppl-reply
                                            h3.smaller-title Юрий Лоза
                                            span.repto Олегу
                                            p.fb-text.common-text Прикольно, тоже пойду
                                            a.blue-link.leavereply(href="#leavingFeedback") Ответить

                                        .one-ppl-reply
                                            h3.smaller-title Марика Юновкская
                                            span.repto Федору Кочкину
                                            p.fb-text.common-text На себя посмотрите.
                                            a.blue-link.leavereply(href="#leavingFeedback") Ответить



                                    .show-more-replies
                                        span.blue-link.showrep Показать все ответы

                        li.one-feedback
                            .fb-mark-block
                                .label.raiting.good 4
                                span.mark-word оценка
                            .fb-body
                                h3.smaller-title Сергей Бураковский
                                p.fb-text.common-text Хорошо, полезно. Стоит своих денег. Один раз, правда, накосячили с расписанием, создали некоторые неудобства тем самым.
                                a.blue-link.leavereply(href="#leavingFeedback") Ответить

                        .leaving-feedback#leavingFeedback
                            form
                                h2.smaller-title Ваш ответ Олегу
                                input.common-input.fio(placeholder="ФИО")
                                input.common-input.email(placeholder="Email")
                                textarea.common-input.feedback-text(placeholder="Ваш комментарий")
                                .capcha-block
                                    img(src="img/misc/capcha.jpg")
                                input.common-input.capcha-code(placeholder="Код с картинки")
                                button.red-btn.big-btn.submit-fb.disabled(type="submit", value="Отправить") Отправить
                                p.userag-line
                                    | Регистрируясь, вы соглашаетесь с условиями
                                    |
                                    a.blue-link(href="userag.html") пользовательского соглашения



                        .grey-btn.smf Показать больше отзывов


                    .leave-comment-block
                        form
                            h2.smaller-title Оставьте отзыв
                            input.common-input.fio(placeholder="ФИО")
                            input.common-input.email(placeholder="Email")
                            textarea.common-input.feedback-text(placeholder="Что скажете?")
                            .capcha-block
                                img(src="img/misc/capcha.jpg")
                            input.common-input.capcha-code(placeholder="Код с картинки")

                            .mark-block
                                span.mark-word-lc Ваша оценка:
                                ul.yourmark
                                    li.yml 1
                                    li.yml 2
                                    li.yml 3
                                    li.yml 4
                                    li.yml 5

                            button.red-btn.big-btn.submit-fb.disabled(type="submit", value="Отправить") Отправить
                            p.userag-line
                                | Оставляя отзыв, вы соглашаетесь с условиями
                                |
                                a.blue-link(href="userag.html") пользовательского соглашения

                .see-also
                    h2.block-title Kids Point также советует
                    .ks-three
                        a.one-plate.common-plate(href="com-card.html")
                            .com-pic-area
                                .p-dark
                                img.ab-img(src="img/post-pics/education/10.jpg")
                                .labels
                                    span.c-type.label Школа ин. языков
                            .com-info-area
                                h2.smaller-title.com-title Гуру Спик
                                span.label.raiting.good 4.8
                                ul.com-chars
                                    li.age с 6 лет
                                    li.price 4 500 в месяц
                                    li.location м. Ленина, ул. Городская, 45
                                    li.time 8:00 - 19:00

                        a.one-plate.common-plate(href="com-card.html")
                            .com-pic-area
                                .p-dark
                                img.ab-img(src="img/post-pics/education/11.jpg")
                                .labels
                                    span.c-type.label Школа ин. языков
                                    span.best.label Лучшее
                            .com-info-area
                                h2.smaller-title.com-title Разговорчивый кот
                                span.label.raiting.good 5.0
                                ul.com-chars
                                    li.age с 5 лет
                                    li.price 7 000 в месяц
                                    li.location м. Баумана, ул. Вафина, 278/А
                                    li.time 7:00 - 21:00

                        a.one-plate.common-plate(href="com-card.html")
                            .com-pic-area
                                .p-dark
                                img.ab-img(src="img/post-pics/education/12.jpg")
                                .labels
                                    span.c-type.label Школа ин. языков
                            .com-info-area
                                h2.smaller-title.com-title Kids Speak
                                span.label.raiting.good 4.4
                                ul.com-chars
                                    li.age с 0 лет
                                    li.price 12 000 в месяц
                                    li.location м. Одинцово, ул. Фактурная, 89
                                    li.time Круглосуточно

                        .clearfix

                .see-also
                    h2.block-title Это может вас заинтересовать
                    .ks-three
                        a.one-plate.choice-plate.short-plate.tripple(href="one-choice.html")
                            .p-dark
                            img.ab-img(src="img/post-pics/sel-full-9.jpg")
                            span.choice-info
                                span.next-to-num.alone
                                    span.choice-numword
                                        | Как лучше
                                        br
                                        |  учить языки
                                    span.choice-desc Советы родителям

                        a.one-plate.choice-plate.short-plate.tripple(href="one-choice.html")
                            .p-dark
                            img.ab-img(src="img/post-pics/sel-full-10.jpg")
                            span.choice-info
                                span.next-to-num.alone
                                    span.choice-numword
                                        | Разговоры
                                        br
                                        |  с носителями
                                    span.choice-desc
                                        | Практика — лучший способ
                                        br
                                        |  выучить любой язык

                        a.one-plate.choice-plate.short-plate.tripple(href="one-choice.html")
                            .p-dark
                            img.ab-img(src="img/post-pics/sel-full-11.jpg")
                            span.choice-info
                                span.choice-num 4
                                span.next-to-num
                                    span.choice-numword метода
                                    span.choice-desc быстрого обучения


                        .clearfix

        include ./components/blocks/send-mail
        include ./components/blocks/footer
        + footer({footerClass: '', isIndex: true})

        include ./components/blocks/seo
