extends template

block title
    title Контакты

block header
    include ./components/blocks/header
    + header({headerClass: ''})
    include ./components/blocks/menu
    + menu({menuClass: '', isWhite: true, isIndexPage: false, activePage: 'contacts.html'})

block content
    main.lpaws
        include ./components/popups/other-city-popup

        .block.upper-block
            .content
                ul.breadcrumbs
                    li
                        a(href="index.html") Главная /
                    li.active
                        a(href="contacts.html") Контакты

                img.just-ab.contacts-ill.mobshow(src="img/illustrations/contact-ill.svg")
                h2.block-title.wu Давайте общаться!
                p.undertitle.lm
                    | Мы всегда рады ответить на&nbsp;любый вопросы, выслушать ваши предложения, рассмотреть и&nbsp;исправить проблемы.
                    br
                    | Пишите, звоните, добавляйтесь в&nbsp;соцсетях, мы&nbsp;ждем фаших фидбэков!

                //
                    img.just-ab.rekl-ill(src="img/illustrations/adv-ill.svg")


        .block.info-block.lm.contacts-block
            img.just-ab.contacts-ill.mobhide(src="img/illustrations/contact-ill.svg")
            .content
                ul.st-con-col.fixed-width
                    li.st-title Телефоны
                    li
                        | Единая служба поддержки
                        |
                        a.blue-link(href="#") +7 900 785-45-66

                    li
                        | Отдел рекламы
                        |
                        a.blue-link(href="#") +7 900 785-45-65

                    li
                        | Отдел маркетинга
                        |
                        a.blue-link(href="#") +7 900 785-45-64

                ul.st-con-col
                    li.st-title Электронная почта
                    li
                        | Единая служба поддержки
                        |
                        a.blue-link(href="#") support@kidspoint.ru

                    li
                        | Отдел рекламы
                        |
                        a.blue-link(href="#") adv@kidspoint.ru

                    li
                        | Отдел маркетинга
                        |
                        a.blue-link(href="#") market@kidspoint.ru

                br

                .devider
                    ul.st-con-col.fixed-width
                        li.st-title Почтовый адрес
                        li
                            | 123199, Россия, Москва, а/я 54

                    ul.st-con-col
                        li.st-title Мы в соцсетях
                            ul.footer-col.sn.separate
                                li
                                    a.fb(href="#", target="_blank")
                                li
                                    a.vk(href="#", target="_blank")
                                li
                                    a.ok(href="#", target="_blank")
                                li
                                    a.tw(href="#", target="_blank")



        include ./components/blocks/send-mail
        include ./components/blocks/footer
        + footer({footerClass: '', isIndex: true})

        include ./components/blocks/seo
