extends template

block title
    title Образование


block header
    include ./components/blocks/header
    + header({headerClass: ''})
    include ./components/blocks/menu
    + menu({menuClass: '', isIndexPage: true, activePage: 'education.html'})

block content
    main
        include ./components/popups/other-city-popup
        .filter-darkner
        //
            include ./components/blocks/categ-filters
        .block.categ-banner-block
            .content
                .banner-info-part
                    h1.banner-title.wu Образование
                    p.undertitle
                        | Выбирайте школы, детские сады и другие
                        br
                        |  образовательные программы
                    ul.breadcrumbs
                        li
                            a(href="index.html") Главная /
                        li.active
                            a(href="education.html") Образование

                img.categ-ill.edu-ill(src="img/illustrations/edu-ill.svg")

        include ./components/filters/edu-filters

        .block.categ-cards-block
            .content
                .map-itself
                    .marker.one
                    .marker.two
                    .marker.three
                    .marker.four
                    .marker.five
                    .marker.six
                    iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d577325.3466010405!2d36.82513586830873!3d55.58152446697099!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54afc73d4b0c9%3A0x3d44d6cc5757cf4c!2z0JzQvtGB0LrQstCw!5e0!3m2!1sru!2sru!4v1538220309900' frameborder='0' style='border:0' allowfullscreen='')

                .map-scroller.mCustomScrollbar(data-mcs-axis="y")
                    .fake-margin
                    a.one-plate.common-plate#hig(href="com-card.html")
                        .com-pic-area
                            .p-dark
                            img.ab-img(src="img/post-pics/education/1.jpg")
                            .labels
                                span.c-type.label Школа
                        .com-info-area
                            h2.smaller-title.com-title Белые кролики
                            span.label.raiting.good 4.1
                            ul.com-chars
                                li.age с 6 лет
                                li.price 100 000 - 200 000 в год
                                li.location м. Баррикадная, ул. Зоологическая, 7
                                li.time 9:00 - 17:00

                    a.one-plate.common-plate(href="com-card.html")
                        .com-pic-area
                            .p-dark
                            img.ab-img(src="img/post-pics/education/2.jpg")
                            .labels
                                span.c-type.label Дет. сад
                        .com-info-area
                            h2.smaller-title.com-title Садик Агафьи
                            span.label.raiting.good 3.9
                            ul.com-chars
                                li.age с 0 лет
                                li.price 150 000 - 200 000 в год
                                li.location м. Спортивная, ул. Ловина, 2
                                li.time 7:00 - 20:00

                    a.one-plate.common-plate(href="com-card.html")
                        .com-pic-area
                            .p-dark
                            img.ab-img(src="img/post-pics/education/3.jpg")
                            .labels
                                span.c-type.label Языковые курсы
                        .com-info-area
                            h2.smaller-title.com-title Учим язык
                            span.label.raiting.bad 3.1
                            ul.com-chars
                                li.age с 4 лет
                                li.price 60 000 - 80 000 в год
                                li.location м. Стропино, ул. Пушкина, 24
                                li.time 10:00 - 21:00

                    a.one-plate.common-plate(href="com-card.html")
                        .com-pic-area
                            .p-dark
                            img.ab-img(src="img/post-pics/education/4.jpg")
                            .labels
                                span.c-type.label Подготовка к школе
                        .com-info-area
                            h2.smaller-title.com-title Дошколята и котята
                            span.label.raiting.good 4.5
                            ul.com-chars
                                li.age с 2 лет
                                li.price 100 000 - 200 000 в год
                                li.location м. Маяковская, ул. Энгельса, 54
                                li.time 10:00 - 18:00

                    a.one-plate.common-plate(href="com-card.html")
                        .com-pic-area
                            .p-dark
                            img.ab-img(src="img/post-pics/education/5.jpg")
                            .labels
                                span.c-type.label Музыкальная школа
                                span.best.label Лучшее
                        .com-info-area
                            h2.smaller-title.com-title Соловей Разбойник
                            span.label.raiting.good 5.0
                            ul.com-chars
                                li.age с 6 лет
                                li.price 5 000 в месяц
                                li.location м. Михайловская, ул. Петропавловская, 39
                                li.time 9:00 - 17:00

                    a.one-plate.common-plate(href="com-card.html")
                        .com-pic-area
                            .p-dark
                            img.ab-img(src="img/post-pics/education/6.jpg")
                            .labels
                                span.c-type.label Рисование
                        .com-info-area
                            h2.smaller-title.com-title Кандинский в молодости
                            span.label.raiting.bad 2.0
                            ul.com-chars
                                li.age с 4 лет
                                li.price 50 000 - 70 000 в месяц
                                li.location м. Московская, ул. Ульянова, 1
                                li.time 10:00 - 20:00

                    a.one-plate.common-plate(href="com-card.html")
                        .com-pic-area
                            .p-dark
                            img.ab-img(src="img/post-pics/education/7.jpg")
                            .labels
                                span.c-type.label Школа
                        .com-info-area
                            h2.smaller-title.com-title Восемь ключей
                            span.label.raiting.bad 3.3
                            ul.com-chars
                                li.age с 6 лет
                                li.price 100 000 - 200 000 в год
                                li.location м. Ленина, ул. Городская, 45
                                li.time 8:00 - 19:00

                    a.one-plate.common-plate(href="com-card.html")
                        .com-pic-area
                            .p-dark
                            img.ab-img(src="img/post-pics/education/8.jpg")
                            .labels
                                span.c-type.label Дет. сад
                        .com-info-area
                            h2.smaller-title.com-title Малышня
                            span.label.raiting.good 4.8
                            ul.com-chars
                                li.age с 0 лет
                                li.price 300 000 - 320 000 в год
                                li.location м. Баумана, ул. Вафина, 278/А
                                li.time 7:00 - 21:00

                    a.one-plate.common-plate(href="com-card.html")
                        .com-pic-area
                            .p-dark
                            img.ab-img(src="img/post-pics/education/9.jpg")
                            .labels
                                span.c-type.label Языковые курсы
                                span.best.label Лучшее
                        .com-info-area
                            h2.smaller-title.com-title Юные лингвисты
                            span.label.raiting.good 5.0
                            ul.com-chars
                                li.age с 3 лет
                                li.price 12 000 в месяц
                                li.location м. Одинцово, ул. Фактурная, 89
                                li.time 10:00 - 20:00

                    .clearfix

                a.showmore-ksc.blue-btn.big-btn.mm(href="#") Показать еще


        .block
            .content
                .see-also
                    h2.block-title Kids Point также советует
                    .ks-three
                        a.one-plate.common-plate(href="com-card.html")
                            .com-pic-area
                                .p-dark
                                img.ab-img(src="img/post-pics/rec/1.jpg")
                                .labels
                                    span.c-type.label Аквапарк
                            .com-info-area
                                h2.smaller-title.com-title Аквапарк Лимпопо
                                span.label.raiting.good 4.8
                                ul.com-chars
                                    li.age с 6 лет
                                    li.price 1 500
                                    li.location м. Ленина, ул. Городская, 45
                                    li.time 8:00 - 19:00

                        a.one-plate.common-plate(href="com-card.html")
                            .com-pic-area
                                .p-dark
                                img.ab-img(src="img/post-pics/rec/2.jpg")
                                .labels
                                    span.c-type.label Борьба
                                    span.best.label Лучшее
                            .com-info-area
                                h2.smaller-title.com-title Борись, детка
                                span.label.raiting.good 5.0
                                ul.com-chars
                                    li.age с 5 лет
                                    li.price 7 000 в месяц
                                    li.location м. Баумана, ул. Вафина, 278/А
                                    li.time 7:00 - 21:00

                        a.one-plate.common-plate(href="com-card.html")
                            .com-pic-area
                                .p-dark
                                img.ab-img(src="img/post-pics/rec/3.jpg")
                                .labels
                                    span.c-type.label Парк развлечений
                                    span.free.label Бесплатно
                            .com-info-area
                                h2.smaller-title.com-title Юность
                                span.label.raiting.good 4.4
                                ul.com-chars
                                    li.age с 0 лет
                                    li.price Бесплатно
                                    li.location м. Одинцово, ул. Фактурная, 89
                                    li.time Круглосуточно

                        .clearfix

        include ./components/blocks/form-block
        include ./components/blocks/send-mail





        include ./components/blocks/footer
        + footer({footerClass: '', isIndex: true})

        include ./components/blocks/seo
