extends template

block title
    title Мероприятия


block header
    include ./components/blocks/header
    + header({headerClass: ''})
    include ./components/blocks/menu
    + menu({menuClass: '', isIndexPage: true, activePage: 'events.html'})

block content
    main
        include ./components/popups/other-city-popup
        .filter-darkner
        //
            include ./components/blocks/categ-filters
        .block.categ-banner-block
            .content
                .banner-info-part
                    h1.banner-title.wu Мероприятия
                    p.undertitle
                        | Самые интересные, крутые и активные
                        br
                        |  занятия на каждый день
                    ul.breadcrumbs
                        li
                            a(href="index.html") Главная /
                        li.active
                            a(href="education.html") Мероприятия

                img.categ-ill.events-ill(src="img/illustrations/events-ill.svg")

        include ./components/filters/events-filters

        .block.categ-cards-block
            .content
                .map-itself
                    .marker.one
                    .marker.two
                    .marker.three
                    .marker.four
                    .marker.five
                    .marker.six
                    iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d577325.3466010405!2d36.82513586830873!3d55.58152446697099!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54afc73d4b0c9%3A0x3d44d6cc5757cf4c!2z0JzQvtGB0LrQstCw!5e0!3m2!1sru!2sru!4v1538220309900' frameborder='0' style='border:0' allowfullscreen='')

                .map-scroller.mCustomScrollbar(data-mcs-axis="y")
                    .fake-margin

                    a.one-plate.common-plate.event-plate#hig(href="event-com-card.html")
                        .com-pic-area
                            .p-dark
                            img.ab-img(src="img/post-pics/events/1.jpg")
                            .labels
                                span.c-type.label Концерт
                        .com-info-area
                            h2.smaller-title.com-title Сергей Жуков для детей
                            span.label.raiting.good 4.1
                            ul.com-chars
                                li.date 18 ноября
                                li.age с 3 лет
                                li.price 700
                                li.location м. Баррикадная, ул. Зоологическая, 7
                                li.time 14:00

                    a.one-plate.common-plate.event-plate(href="event-com-card.html")
                        .com-pic-area
                            .p-dark
                            img.ab-img(src="img/post-pics/events/2.jpg")
                            .labels
                                span.c-type.label Ярмарка
                                span.c-type.label.free Бесплатно
                        .com-info-area
                            h2.smaller-title.com-title Дари Добро Людям
                            span.label.raiting.bad 3.4
                            ul.com-chars
                                li.date 19 ноября
                                li.age с 0 лет
                                li.price Бесплатно
                                li.location м. Спортивная ул. Петрова, 4
                                li.time 10:00 - 17:00

                    a.one-plate.common-plate.event-plate(href="event-com-card.html")
                        .com-pic-area
                            .p-dark
                            img.ab-img(src="img/post-pics/events/3.jpg")
                            .labels
                                span.c-type.label Экскурсия
                                span.c-type.label.free Бесплатно
                                span.c-type.label.best Лучшее
                        .com-info-area
                            h2.smaller-title.com-title Прогулка по центру Москвы
                            span.label.raiting.good 5.0
                            ul.com-chars
                                li.date 25 ноября
                                li.age с 6 лет
                                li.price Бесплатно
                                li.location м. Маяковская, ул. Кипера, 123
                                li.time 12:00

                    a.one-plate.common-plate.event-plate(href="event-com-card.html")
                        .com-pic-area
                            .p-dark
                            img.ab-img(src="img/post-pics/events/4.jpg")
                            .labels
                                span.c-type.label Выставка
                        .com-info-area
                            h2.smaller-title.com-title Фрески и мозаики
                            span.label.raiting.good 4.3
                            ul.com-chars
                                li.date 29 ноября
                                li.age с 0 лет
                                li.price 200
                                li.location м. Тверская, ул. Курова, 56
                                li.time 12:00

                    a.one-plate.common-plate.event-plate(href="event-com-card.html")
                        .com-pic-area
                            .p-dark
                            img.ab-img(src="img/post-pics/events/5.jpg")
                            .labels
                                span.c-type.label Фестиваль
                        .com-info-area
                            h2.smaller-title.com-title Уличные гонки
                            span.label.raiting.bad 3.0
                            ul.com-chars
                                li.date 21 ноября
                                li.age с 6 лет
                                li.price 500
                                li.location м. Спортивная ул. Кирова, 14
                                li.time 11:00


                    a.one-plate.common-plate.event-plate(href="event-com-card.html")
                        .com-pic-area
                            .p-dark
                            img.ab-img(src="img/post-pics/events/6.jpg")
                            .labels
                                span.c-type.label Спектакль
                        .com-info-area
                            h2.smaller-title.com-title Буратино
                            span.label.raiting.good 4.1
                            ul.com-chars
                                li.date 11 ноября
                                li.age с 3 лет
                                li.price 1 200
                                li.location м. Московская, ул. Баумана, 12
                                li.time 14:30

                    .clearfix

                a.showmore-ksc.blue-btn.big-btn.mm(href="#") Показать еще


        .block
            .content
                .see-also
                    h2.block-title Kids Point также советует
                    .ks-three
                        a.one-plate.common-plate(href="com-card.html")
                            .com-pic-area
                                .p-dark
                                img.ab-img(src="img/post-pics/rec/1.jpg")
                                .labels
                                    span.c-type.label Аквапарк
                            .com-info-area
                                h2.smaller-title.com-title Аквапарк Лимпопо
                                span.label.raiting.good 4.8
                                ul.com-chars
                                    li.age с 6 лет
                                    li.price 1 500
                                    li.location м. Ленина, ул. Городская, 45
                                    li.time 8:00 - 19:00

                        a.one-plate.common-plate(href="com-card.html")
                            .com-pic-area
                                .p-dark
                                img.ab-img(src="img/post-pics/rec/2.jpg")
                                .labels
                                    span.c-type.label Борьба
                                    span.best.label Лучшее
                            .com-info-area
                                h2.smaller-title.com-title Борись, детка
                                span.label.raiting.good 5.0
                                ul.com-chars
                                    li.age с 5 лет
                                    li.price 7 000 в месяц
                                    li.location м. Баумана, ул. Вафина, 278/А
                                    li.time 7:00 - 21:00

                        a.one-plate.common-plate(href="com-card.html")
                            .com-pic-area
                                .p-dark
                                img.ab-img(src="img/post-pics/rec/3.jpg")
                                .labels
                                    span.c-type.label Парк развлечений
                                    span.free.label Бесплатно
                            .com-info-area
                                h2.smaller-title.com-title Юность
                                span.label.raiting.good 4.4
                                ul.com-chars
                                    li.age с 0 лет
                                    li.price Бесплатно
                                    li.location м. Одинцово, ул. Фактурная, 89
                                    li.time Круглосуточно

                        .clearfix

        include ./components/blocks/form-block
        include ./components/blocks/send-mail





        include ./components/blocks/footer
        + footer({footerClass: '', isIndex: true})

        include ./components/blocks/seo
