extends template

block title
    title Kids Point


block header
    include ./components/blocks/header
    + header({headerClass: ''})
    include ./components/blocks/menu
    + menu({menuClass: '', isWhite: true, isIndexPage: true})

block content
    main
        include ./components/popups/other-city-popup
        include ./components/popups/no-results
        .block.index-banner-block
            .content
                img.just-ab.index-bg(src="img/illustrations/index-bg.svg")
                img.just-ab.index-guys(src="img/illustrations/index-guys.svg")
                img.just-ab.index-hand(src="img/illustrations/index-hand.svg")
                img.just-ab.index-tail(src="img/illustrations/index-tail.svg")
                img.just-ab.index-eyes(src="img/illustrations/index-eyes.svg")
                img.just-ab.index-mob-ill.mobshow(src="img/illustrations/index-ill-mob.svg")

                .p-scene#scene
                    img.snowflakes(src="img/illustrations/snowflakes.svg", data-depth="0.3")
                    img.snowflakes22(src="img/illustrations/snowflakes-2.svg", data-depth="0.5")
                //
                    img.just-ab(src="img/illustrations/index-ill.svg")
                h1.banner-title.index-title Куда сходить с&nbsp;ребенком?
                .small-banner-info
                    p
                        | Сервис Kids Point помогает родителям
                        br
                        |  каждый день находить интересные занятия
                        br
                        |  для своих детей. Удобно и быстро.
                    p.wm
                        | Образование и развитие ваших детей
                        br
                        |  также являются нашей основной задачей
                include ./components/fragments/index-filters

        include ./components/fragments/choice-preview
        include ./components/fragments/ent-lines
        include ./components/fragments/edu-lines
        include ./components/fragments/sport-lines
        include ./components/blocks/form-block

        include ./components/blocks/footer
        + footer({footerClass: '', isIndex: true})

        include ./components/blocks/seo

        script(src='https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js')
        script.
            var scene = document.getElementById('scene');
            var parallaxInstance = new Parallax(scene);

