extends template

block title
    title Выбор Kids Point


block header
    include ./components/blocks/header
    + header({headerClass: ''})
    include ./components/blocks/menu
    + menu({menuClass: '', isWhite: true, isIndexPage: false, activePage: 'choice.html'})

block content
    main
        include ./components/popups/other-city-popup

        .block.oc-banner-block.yellow-banner
            .content
                .banner-info-part
                    h1.banner-title Мы выбираем лучшее
                    p.undertitle.nobr
                        | Каждый день мы трудимся над поиском самого
                        br
                        |  интересного для вас и ваших детей
                img.banner-pic.oc-pic(src="img/illustrations/map.svg")

        .block.regular-block
            .content

                ul.breadcrumbs
                    li
                        a(href="index.html") Главная /
                    li
                        a(href="choice.html") Выбор Kids Point /
                    li.active
                        a(href="one-choice.html") 4 музеея, в которых ваш ребенок не уснет

                h2.block-title.wu.bordered 4 музея, в которых ваш ребёнок не уснет
                p.post-date 21 сентября 2018 г.

                p.oc-desc-text
                    | Музе́й — учреждение, занимающееся сбором, изучением, хранением и экспонированием предметов памятников
                    |  естественной истории, материальной и духовной культуры, а также просветительской и популяризаторской
                    |  деятельностью. Сначала это понятие обозначало коллекцию предметов (экспонатов) по искусству и науке, затем,
                    |  с XVIII века, оно включает в себя также здание, где располагаются экспонаты. С XIX века присоединилась
                    |  научно-исследовательская работа, проводимая в музеях. А с шестидесятых годов XX века началась .

                .one-oc
                    a.one-plate(href="com-card.html")
                        .p-dark
                        img.ab-img(src="img/post-pics/oc-1.jpg")
                        span.choice-info
                            span.choice-num.oc-num 1
                            span.next-to-num
                                span.choice-numword Пушкинский музей
                                span.choice-desc Волхонка, 12

                    p.oc-text.common-text
                        | В конце 1896 года в столичной печати были опубликованы условия Конкурса на составление проекта здания
                        |  для Музея изящных искусств имени императора Александра III при Московском университете, который по просьбе университета проводила Петербургская Академия художеств. С этого момента началось осуществление давней мечты о создании в Москве художественно-образовательного общедоступного музея.
                        br
                        br
                        |  Проекты подобного учреждения неоднократно излагались в печати княгиней Зинаидой Александровной Волконской и Степаном Петровичем Шевыревым (1831), профессором Карлом Карловичем Гёрцем (1858), директором Московского Публичного и Румянцевского музеев Николаем Васильевичем Исаковым (1864).
                        |  О необходимости Москве такого музея неоднократно с 1893 года писал и профессор кафедры теории и истории искусства Московского университета, доктор римской словесности и историк искусства Иван Владимирович Цветаев (1847–1913). Он же разработал условия Конкурса.
                        span.circle-yellow

                .one-oc
                    a.one-plate(href="com-card.html")
                        .p-dark
                        img.ab-img(src="img/post-pics/oc-2.jpg")
                        span.choice-info
                            span.choice-num.oc-num 2
                            span.next-to-num
                                span.choice-numword Новая Третьяковка
                                span.choice-desc Крымский Вал, 10

                    p.oc-text.common-text
                        | В конце 1896 года в столичной печати были опубликованы условия Конкурса на составление проекта здания для Музея изящных искусств имени императора Александра III при Московском университете, который по просьбе университета проводила Петербургская Академия художеств. С этого момента началось осуществление давней мечты о создании в Москве художественно-образовательного общедоступного музея.
                        br
                        br
                        | Проекты подобного учреждения неоднократно излагались в печати княгиней Зинаидой Александровной Волконской и Степаном Петровичем Шевыревым (1831), профессором Карлом Карловичем Гёрцем (1858), директором Московского Публичного и Румянцевского музеев Николаем Васильевичем Исаковым (1864).
                        | О необходимости Москве такого музея неоднократно с 1893 года писал и профессор кафедры теории и истории искусства Московского университета, доктор римской словесности и историк искусства Иван Владимирович Цветаев (1847–1913). Он же разработал условия Конкурса.
                        br
                        br
                        | Печати были опубликованы условия Конкурса на составление проекта здания для Музея изящных искусств имени императора Александра III при Московском университете, который по просьбе университета проводила Петербургская Академия художеств. С этого момента началось осуществление давней мечты о создании в Москве художественно-образовательного общедоступного.
                        span.circle-yellow

                .one-oc
                    a.one-plate(href="com-card.html")
                        .p-dark
                        img.ab-img(src="img/post-pics/oc-3.jpg")
                        span.choice-info
                            span.choice-num.oc-num 3
                            span.next-to-num
                                span.choice-numword Выставочный зал «Солнцево»
                                span.choice-desc Богданова, 44

                    p.oc-text.common-text
                        | В конце 1896 года в столичной печати были опубликованы условия Конкурса на составление проекта здания
                        | для Музея изящных искусств имени императора Александра III при Московском университете, который по просьбе университета проводила Петербургская Академия художеств. С этого момента началось осуществление давней мечты о создании в Москве художественно-образовательного общедоступного музея.
                        br
                        br
                        | Проекты подобного учреждения неоднократно излагались в печати княгиней Зинаидой Александровной Волконской и Степаном Петровичем Шевыревым (1831), профессором Карлом Карловичем Гёрцем (1858).
                        span.circle-yellow

                .one-oc
                    a.one-plate(href="com-card.html")
                        .p-dark
                        img.ab-img(src="img/post-pics/oc-4.jpg")
                        span.choice-info
                            span.choice-num.oc-num 4
                            span.next-to-num
                                span.choice-numword Музей космонавтики
                                span.choice-desc Проспект Мира, 111

                    p.oc-text.common-text
                        | Музей космонавтики – один из крупнейших научно-технических музеев мира. История музея началась во второй половине XX века, когда в 1964 году на карте Москвы появился монумент «Покорителям космоса». Титановая ракета на ВДНХ стала символом качественного технологического скачка своего времени. Запуск первого искусственного спутника Земли, первые живые существа и первый человек в космосе стали отправной точкой в мировой космонавтике. Так космос стал ближе к человечеству. Время писать историю. В апреле 1981 года в стилобате монумента был открыт Мемориальный Музей космонавтики. Здесь были представлены свидетельства первых успехов и достижений отечественной космонавтики: первые скафандры, первые искусственные спутники Земли; космические аппараты по изучению Луны и планет Солнечной системы.
                        span.circle-yellow

                .oc-share-block
                    span Понравилось? Расскажи друзьям:

                    ul.footer-col.sn
                        li
                            a.fb(href="#", target="_blank")
                        li
                            a.vk(href="#", target="_blank")
                        li
                            a.ok(href="#", target="_blank")
                        li
                            a.tw(href="#", target="_blank")

                .see-also
                    h2.block-title Kids Point также советует
                    .ks-three
                        a.one-plate.choice-plate.short-plate.tripple(href="one-choice.html")
                            .p-dark
                            img.ab-img(src="img/post-pics/sel-full-6.jpg")
                            span.choice-info
                                span.next-to-num.alone
                                    span.choice-numword
                                        | Планы
                                        br
                                        |  на выходные
                                    span.choice-desc куда сходить с детьми

                        a.one-plate.choice-plate.short-plate.tripple(href="one-choice.html")
                            .p-dark
                            img.ab-img(src="img/post-pics/sel-full-7.jpg")
                            span.choice-info
                                span.next-to-num.alone
                                    span.choice-numword
                                        | Многодетным
                                        br
                                        |  родителям
                                    span.choice-desc
                                        | Места, которые интересны
                                        br
                                        |  и в 5 и в 15

                        a.one-plate.choice-plate.short-plate.tripple(href="one-choice.html")
                            .p-dark
                            img.ab-img(src="img/post-pics/sel-full-8.jpg")
                            span.choice-info
                                span.choice-num 5
                                span.next-to-num
                                    span.choice-numword квестов
                                    span.choice-desc для похода с семьей


                        .clearfix

        include ./components/blocks/send-mail
        include ./components/blocks/footer
        + footer({footerClass: '', isIndex: true})

        include ./components/blocks/seo
