extends template

block title
    title Правила рассылок

block header
    include ./components/blocks/header
    + header({headerClass: ''})
    include ./components/blocks/menu
    + menu({menuClass: '', isWhite: true, isIndexPage: false, activePage: 'rass.html'})

block content
    main.lpaws
        include ./components/popups/other-city-popup

        .block.upper-block
            .content.uacont
                ul.breadcrumbs
                    li
                        a(href="index.html") Главная /
                    li.active
                        a(href="rass.html") Правила рассылок

                h2.block-title.wu Правила рассылки KidsPoint

                p.common-text.userag-block
                    |  Версия от 29 июля 2018 г.
                    br
                    br
                    span.ua-title 1.Общие положения
                    |
                    | 1.	Настоящие правила (Правила) определяют условия и порядок рассылки информационных и рекламных сообщений, осуществляемой Владельцем Сайта Пользователям.
                    br
                    br
                    | 2.	Правила являются публичной офертой в соответствии со ст. 437 Гражданского кодекса Российской Федерации. Подписка на рассылку на Сайте означает полный и безоговорочный акцепт Правил Пользователем.
                    br
                    br
                    | 3.	В случае несогласия Пользователя с каким-либо из положений Правил, Пользователь обязан воздержаться от совершения действий, направленных на подписку на рассылку.
                    br
                    br
                    | 4.	Правила и отношения между Пользователем и Владельцем Сайта, возникающие в связи с подпиской на информационные и/или рекламные рассылки, регулируются и подлежат толкованию в соответствии с законодательством Российской Федерации.

                p.common-text.userag-block
                    span.ua-title 2. Терминология
                    |
                    | Сайт – интернет-ресурс, размещенный в сети Интернет по адресу kids-point.ru.
                    br
                    br
                    | Владелец Сайта – общество с ограниченной ответственностью «КидсПоинт» (ОГРН 1107746038410).
                    br
                    br
                    | Пользователь – физическое лицо, обладающее необходимой дееспособностью для заключения и исполнения Правил и осуществляющее доступ к Сайту.
                    br
                    br
                    | Сообщения – информационные сообщения, в том числе новостного и рекламного характера (любого вида реклама), связанные с Сайтом и/или тематикой Сайта, а также с продуктами (услугами) компаний группы Rambler&Co и/или Партнеров.
                    br
                    br
                    | Подписка на рассылку – действия Пользователя при использовании Сайта, направленные на систематическое получение от Владельца Сайта Сообщений.
                    br
                    br
                    | Компании группы Rambler&Co – юридические лица, сходящие в группу Rambler&Co, в том числе ООО «Рамблер Интернет Холдинг», ООО «Компания Афиша», ООО «Суп Медиа», АО «Газета.Ру», ООО «Лента.Ру», ООО «Прайc Экспресс», ООО «РА «Индекс 20».
                    br
                    br
                    | Партнеры –  третьи лица, выступающие в качестве поставщиков товаров/ услуг, доступных посредством Сайта и/или интернет-ресурсов и/или иных продуктов компаний группы Rambler&Co.

                p.common-text.userag-block
                    span.ua-title 3. Условия рассылки Сообщений
                    |
                    | 1. Принимая условия Правил, Пользователь выражает свое согласие на получение от Владельца Сайта и/или компаний группы Rambler&Co и/или Партнеров по адресу электронной почты, указанному Пользователем при подписке на рассылку, Сообщений.
                    br
                    br
                    | 2. Владелец Сайта исходит из того, что подписка на рассылку осуществляется непосредственно Пользователем, а также что адрес электронной почты, указанный Пользователем при подписке на рассылку, является корректным и принадлежит Пользователю. Ответственность за правомерность предоставления данных Пользователя при подписке на рассылку и их достоверность несет исключительно Пользователь.
                    br
                    br
                    | 3. Пользователь вправе в любое время отказаться от получения Сообщений путем перехода по соответствующей ссылке, содержащейся в Сообщении.
                    br
                    br
                    | 4. Пользователь вправе знакомиться с Правилами путем перехода по гиперссылке «Правила рассылки» на странице Сайта.

                p.common-text.userag-block
                    span.ua-title 4. Прочее
                    |
                    | 1. Надлежащим адресом Владельца Сайта для направления юридически значимых сообщений является: 117105, г. Москва, Варшавское шоссе, д.9, стр.1, БЦ «Даниловская Мануфактура», ООО «Компания Афиша».
                    br
                    br
                    strong Правила могут быть изменены Владельцем Сайта без специального уведомления путем размещения по тому же адресу новой редакции Правил, которая вступает в силу с момента ее размещения в сети Интернет, если иное не предусмотрено новой редакцией Правил.
        include ./components/blocks/footer
        + footer({footerClass: '', isIndex: true})

        include ./components/blocks/seo
