extends template

block title
    title Реклама

block header
    include ./components/blocks/header
    + header({headerClass: ''})
    include ./components/blocks/menu
    + menu({menuClass: '', isWhite: true, isIndexPage: false, activePage: 'reklama.html'})

block content
    main.lpaws
        include ./components/popups/other-city-popup
        include ./components/popups/contact-us-popup

        .block.upper-block
            .content
                ul.breadcrumbs
                    li
                        a(href="index.html") Главная /
                    li.active
                        a(href="reklama.html") Реклама

                img.just-ab.rekl-ill(src="img/illustrations/adv-ill.svg")

                h2.block-title.wu Реклама у нас
                p.undertitle.lm
                    | Повседневная практика показывает, что постоянное информационно
                    br
                    |  пропагандистское обеспечение нашей деятельности обеспечивает
                    br
                    |  широкому кругу (специалистов) участие в&nbsp;формировании системы
                    br
                    |  обучения кадров, соответствует насущным потребностям.
                p.forpres
                    | Мы подготовили презентацию, в&nbsp;котрой подробно
                    br
                    |  рассказали обо всех условиях размещения рекламы

                a.big-btn.red-btn.getpres(href="#") Связаться с нами

        .block.info-block.rekl-block
            .content
                .pic-wrapper.rekl
                    img.ab-img(src="img/misc/adv-pic.jpg")
                    .pw-info
                        h3.choice-numword «Размещаться на Kids Point — это выгодно»
                        p.pw-text ~ Ca$h Catz

                p.common-text
                    | В конце 1896 года в столичной печати были опубликованы условия Конкурса на составление проекта здания
                    | для Музея изящных искусств имени императора Александра III при Московском университете, который по просьбе университета проводила Петербургская Академия художеств. С этого момента началось осуществление давней мечты о создании в Москве художественно-образовательного общедоступного музея.
                p.common-text
                    | Проекты подобного учреждения неоднократно излагались в печати княгиней Зинаидой Александровной Волконской и Степаном Петровичем Шевыревым (1831), профессором Карлом Карловичем Гёрцем (1858), директором Московского Публичного и Румянцевского музеев Николаем Васильевичем Исаковым .
                    | О необходимости Москве такого музея неоднократно с 1893 года писал и профессор кафедры теории и истории искусства Московского университета, доктор римской словесности и историк искусства Иван Владимирович Цветаев (1847–1913). Он же разработал условия Конкурса.
                

        include ./components/blocks/send-mail
        include ./components/blocks/footer
        + footer({footerClass: '', isIndex: true})

        include ./components/blocks/seo
