extends template

block title
    title СМИ о нас

block header
    include ./components/blocks/header
    + header({headerClass: ''})
    include ./components/blocks/menu
    + menu({menuClass: '', isWhite: true, isIndexPage: false, activePage: 'smi.html'})

block content
    main.lpaws
        include ./components/popups/other-city-popup

        .block.upper-block
            .content
                ul.breadcrumbs
                    li
                        a(href="index.html") Главная /
                    li.active
                        a(href="smi.html") СМИ о нас

                h2.block-title.wu Media говорит о нас
                p.undertitle.lm
                    | Здесь пишем текст о том, как важно для портала быть медийным. О том, что мы сотрудничаем с известными, классными
                    | изданиями и компаниями, и они нам доверяют. Делаем из этого всего три-четыре строки, чтобы образовался текстовый
                    | блок-подводка, пусть будет тут.


        .block.info-block.lm.smi-block
            .content
                .one-smi
                    .pic-wrapper.smi
                        img.ab-img(src="img/misc/smi-pic-1.jpg")

                    .smi-text-block
                        h3.smaller-title Esquire пишет о Kids Point
                        p.smi-date 21 июня 2018 г.
                        p.common-text
                            | Июнь получился очень продуктивным. Мы много с кем встречались, пили кофе, общались, обсуждали пробелмы современных детей и их родителей.
                            |  В том числе мы ходили в гости в Escquire, где рассказывали им о нашем проекта. Ребята очень заинтересовались и решили, что это классная и полезная идея!
                            |  Мы горды собой и приглашаем вас прочитать статью:
                            |
                            a.blue-link.underlined(href="#") esquire.com/kidspoint

                .one-smi
                    .pic-wrapper.smi
                        img.ab-img(src="img/misc/smi-pic-2.jpg")

                    .smi-text-block
                        h3.smaller-title Elle и Kids Point о борьбе с курением
                        p.smi-date 20 июня 2018 г.
                        p.common-text
                            | Сигареты, вейпы, кальяны, айкос стикс, и прочие девайсы - проблема детей постарше. Точнее, это проблема их родителей. Безусловно, каждый делает свой
                            | выбор, но наша с вами задача - постараться оградить наших детей от любого дыма. Учитывая, что экология во многих городах нашей страны и так оставляет
                            | желать лучшего. Мы с ребятами из Elle обсудили эту тему, прочитайте и вы:
                            |
                            a.blue-link.underlined(href="#") elle.com/smoking

                .one-smi
                    .pic-wrapper.smi
                        img.ab-img(src="img/misc/smi-pic-3.jpg")

                    .smi-text-block
                        h3.smaller-title РБК о перспективных художниках детях. Совместно с Kids Point
                        p.smi-date 19 июня 2018 г.
                        p.common-text
                            | Девятого июня в Москве прошла большая ярмарка, на которой подводились итоги конкурса иллюстраций, проводившегося среди детей от 12 до 17 лет
                            | включительно. Некоторые работы просто не могли оставить никого равнодушными, и их юных авторов уже сейчас отрывают с руками и ногами в известные
                            | дизайн-агентства. РБК решил осветить это, а мы им помогли:
                            |
                            a.blue-link.underlined(href="#") rbk.ru/talent


        include ./components/blocks/send-mail
        include ./components/blocks/footer
        + footer({footerClass: '', isIndex: true})

        include ./components/blocks/seo
