doctype html
html.no-js(lang="ru-RU")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
        block title

        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")

        link(rel="shortcut icon", href="img/favicon.png", type="image/png")

        link(href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css' rel='stylesheet')
        link(href='css/main.css', rel='stylesheet')
    body

        block header

        .preloader
            img.preload-cat(src="img/illustrations/preload-cat.svg")
            .bim

        block content

        script(src='js/main.js')
        script(src='js/jquery.range.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js')

