.block.choice-preview.lines-block.lm
    .content
        h2.block-title Выбор Kids Point
        a.one-plate.choice-plate.short-plate(href="one-choice.html")
            .p-dark
            img.ab-img(src="img/post-pics/sel-1.jpg")
            span.choice-info
                span.choice-num 7
                span.next-to-num
                    span.choice-numword музеев
                    span.choice-desc в которых ваш ребенок не уснет
        a.one-plate.choice-plate.short-plate(href="one-choice.html")
            .p-dark
            img.ab-img(src="img/post-pics/sel-2.jpg")
            span.choice-info
                span.choice-num 13
                span.next-to-num
                    span.choice-numword мест
                    span.choice-desc для непосед в Москве
        a.one-plate.choice-plate.long-plate(href="one-choice.html")
            .p-dark
            img.ab-img(src="img/post-pics/sel-3.jpg")
            span.choice-info
                span.choice-num 20
                span.next-to-num
                    span.choice-numword ресторанов
                    span.choice-desc в которых ваши дети найдут, чем заняться

        .clearfix
        a.see-more-btn.blue-btn(href="choice.html") Посмотреть все
