.block.choice-preview.lines-block
    .content
        h2.block-title Образование

        a.one-plate.common-plate(href="com-card.html")
            .com-pic-area
                .p-dark
                img.ab-img(src="img/post-pics/edu-1.jpg")
                .labels
                    span.c-type.label Школа
            .com-info-area
                h2.smaller-title.com-title Восемь ключей
                span.label.raiting.bad 3.3
                ul.com-chars
                    li.age с 6 лет
                    li.price 100 000 - 200 000 в год
                    li.location м. Ленина, ул. Городская, 45
                    li.time 8:00 - 19:00

        a.one-plate.common-plate(href="com-card.html")
            .com-pic-area
                .p-dark
                img.ab-img(src="img/post-pics/edu-2.jpg")
                .labels
                    span.c-type.label Дет. сад
            .com-info-area
                h2.smaller-title.com-title Малышня
                span.label.raiting.good 4.8
                ul.com-chars
                    li.age с 0 лет
                    li.price 300 000 - 320 000 в год
                    li.location м. Баумана, ул. Вафина, 278/А
                    li.time 7:00 - 21:00

        a.one-plate.common-plate(href="com-card.html")
            .com-pic-area
                .p-dark
                img.ab-img(src="img/post-pics/edu-3.jpg")
                .labels
                    span.c-type.label Языковые курсы
                    span.best.label Лучшее
            .com-info-area
                h2.smaller-title.com-title Юные лингвисты
                span.label.raiting.good 5.0
                ul.com-chars
                    li.age с 3 лет
                    li.price 12 000 в месяц
                    li.location м. Одинцово, ул. Фактурная, 89
                    li.time 10:00 - 20:00

        .clearfix
        a.see-more-btn.blue-btn(href="education.html") Посмотреть все
