.block.choice-preview.lines-block
    .content
        h2.block-title Развлечения

        a.one-plate.common-plate(href="com-card.html")
            .com-pic-area
                .p-dark
                img.ab-img(src="img/post-pics/ent-1.jpg")
                .labels
                    span.c-type.label Батут
            .com-info-area
                h2.smaller-title.com-title Батутный центр на тверской
                span.label.raiting.good 4.1
                ul.com-chars
                    li.age с 3 лет
                    li.price 300 в час
                    li.location м. Баррикадная, ул. Зоологическая, 2
                    li.time 9:00 - 22:00

        a.one-plate.common-plate(href="com-card.html")
            .com-pic-area
                .p-dark
                img.ab-img(src="img/post-pics/ent-2.jpg")
                .labels
                    span.c-type.label Лепка
            .com-info-area
                h2.smaller-title.com-title Лепим сами
                span.label.raiting.good 4.4
                ul.com-chars
                    li.age с 0 лет
                    li.price 3 000 в месяц
                    li.location м. Спортивная, ул. Ловина, 2
                    li.time 7:00 - 20:00

        a.one-plate.common-plate(href="com-card.html")
            .com-pic-area
                .p-dark
                img.ab-img(src="img/post-pics/ent-3.jpg")
                .labels
                    span.c-type.label Театральный кружок
            .com-info-area
                h2.smaller-title.com-title Потенциал
                span.label.raiting.bad 3.0
                ul.com-chars
                    li.age с 5 лет
                    li.price 7 000 в месяц
                    li.location м. Строгино, ул. Пушкина, 24
                    li.time 10:00 - 21:00

        .clearfix
        a.see-more-btn.blue-btn(href="enter.html") Посмотреть все
