.index-filters-block
    .fi-wrap.f-wr
        input.datepicker-here.filter-input.when(type='text', data-range="true", data-multiple-dates-separator=" - ", placeholder="Когда?", readonly='true')

    .s-wrap.f-wr.where
        select.indexWhen(name='Where')
            option
            option(value='Не важно') Не важно
            option(value='Рядом со мной') Рядом со мной
            optgroup(label="Станция метро")
            option(value='Черкизовская') Черкизовская
            option(value='Преображенская площадь') Преображенская площадь
            option(value='Маяковская') Маяковская
            option(value='Спортивная') Спортивная
            option(value='Б. Баррикадная') Б. Баррикадная
            option(value='Разумовская') Разумовская

    .s-wrap.f-wr.what
        select.indexWhat(name='What')
            option
            option(value='Любой') Любой
            option(value='Ярмарка') Ярмарка
            option(value='Концерт') Концерт
            option(value='Спектакль') Спектакль
            option(value='Выставка') Выставка
            option(value='События в городе') События в городе
            option(value='Экскурсия') Экскурсия

    .s-wrap.f-wr.age
        select.indexAge(name='What')
            option
            option(value='Любой') Любой
            option(value='от 0 до 3') от 0 до 3
            option(value='от 4 до 8') от 4 до 8
            option(value='От 9 до 12') От 9 до 12
            option(value='от 13 до 17') от 13 до 17

    input.red-btn.big-btn.gosearch(type="submit", value="Найти")

