.block.choice-preview.lines-block
    .content
        h2.block-title Спорт

        a.one-plate.common-plate(href="com-card.html")
            .com-pic-area
                .p-dark
                img.ab-img(src="img/post-pics/sport-1.jpg")
                .labels
                    span.c-type.label Бокс
            .com-info-area
                h2.smaller-title.com-title Юный борец
                span.label.raiting.good 4.3
                ul.com-chars
                    li.age с 4 лет
                    li.price 9 000 в месяц
                    li.location м. Ленина, ул. Иванова, 54
                    li.time 8:00 - 21:00

        a.one-plate.common-plate(href="com-card.html")
            .com-pic-area
                .p-dark
                img.ab-img(src="img/post-pics/sport-2.jpg")
                .labels
                    span.c-type.label Танцы
            .com-info-area
                h2.smaller-title.com-title Я у мамы балерина
                span.label.raiting.good 3.8
                ul.com-chars
                    li.age с 5 лет
                    li.price 7 000 в месяц
                    li.location м. Баумана, ул. Лукина, 9
                    li.time 7:00 - 21:00

        a.one-plate.common-plate(href="com-card.html")
            .com-pic-area
                .p-dark
                img.ab-img(src="img/post-pics/sport-3.jpg")
                .labels
                    span.c-type.label Большой теннис
            .com-info-area
                h2.smaller-title.com-title Школа большого тенниса имени Гурова
                span.label.raiting.good 3.9
                ul.com-chars
                    li.age с 5 лет
                    li.price 6 000 в месяц
                    li.location м. Одинцово, ул. Гуревича, 34
                    li.time 10:00 - 22:00

        .clearfix
        a.see-more-btn.blue-btn(href="sport.html") Посмотреть все
